section#news.row
  a.to-top(href="#")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 News
    div
      a(href="")
        small All news
  div.news-post.small-12.medium-4.large-4.columns
    header.post-header
      h1 Registering PDUs for AgileByExample 2013
      time.post-date(datetime="2013-10-15") October 15, 2013
    div.post-summary
      p We were asked by some of you, who are PMI members if it's possible to get PDUs for participating in AgileByExample.
      p We've managed to make that possible and here are the guidelines on how to register the PDUs.
    a.read-more.button(href="") read more
  div.news-post.small-12.medium-4.large-4.columns
    header.post-header
      h1 Registering PDUs for AgileByExample 2013
      time.post-date(datetime="2013-10-15") October 15, 2013
    div.post-summary
      p We were asked by some of you, who are PMI members if it's possible to get PDUs for participating in AgileByExample.
      p We've managed to make that possible and here are the guidelines on how to register the PDUs.
    a.read-more.button(href="") read more
  div.twitter-widget.small-12.medium-4.large-4.columns
    a.twitter-timeline(href='https://twitter.com/scalarconf', width="700", data-widget-id='423429614577278976', data-chrome='noheader nofooter noborders transparent', data-link-color="#e61e26", data-tweet-limit='3', data-related="conference,Scala")