section#sponsors.row
  a.to-top(href="#")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Sponsors
  div.small-12.medium-8.medium-centered.large-6.large-centered.columns
    p Some words for sponsors totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    div.centered-wrapper
      a.button(href="mailto:scalar@scalar-conf.com") become a sponsor