section#afterparty.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top

  div.row
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      header.section-title
        h1 Afterparty
        p For after party we are happy to invite you to the Bank Club, situated at street 
          a(href="https://www.google.com/maps/dir/Muzeum+Historii+%C5%BByd%C3%B3w+Polskich,+Mordechaja+Anielewicza,+Warsaw,+Poland/BANK+CLUB,+Mazowiecka+14,+00-048+Warszawa/@52.2437352,20.9943917,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x471ecc79a995c7a9:0x34c6aaa59c1c02e2!2m2!1d20.993184!2d52.2493743!1m5!1m1!1s0x471ecc600fda2319:0x3a4db9f4123ec220!2m2!1d21.013109!2d52.238336!3e2") Mazowiecka 14
          |. You are welcome there from 18:30, we will chat and relax on the -1 level of the club, called Rock-On. After 23 you can stay with us and join one of the best dance floor in Warsaw!!!
  div.row
    div.small-12.medium-4.large-4.columns.after-party-img
      img(src="images/afterparty-1.jpg")
    div.small-12.medium-4.large-4.columns.after-party-img
      img(src="images/afterparty-2.jpg")
    div.small-12.medium-4.large-4.columns.after-party-img
      img(src="images/afterparty-3.jpg")
