section#call-for-papers.row
  a.to-top(href="#")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1.highlight Call for papers
    small Ends Feb 9, 2014
  div.small-12.medium-8.medium-centered.large-6.large-centered.columns
    p We are looking for anything that you think might be interesting for a wider audience and that is Scala related. Maybe you are using Scala in a novel way? Or you wrote an interesting open-source library? Or you have an experience report from a project you are working on? Or maybe you just want to show what can be done with the Scala language and existing Scala tools.
    div.centered-wrapper
      a.button(href="https://docs.google.com/forms/d/1psv4Hu_vg7Q97cfC9fHVCZwRdl5XZltC_NHteGxxQPQ/viewform") apply now