section#call-for-papers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Call for papers
    small We’ll accept speakers on a rolling basis
  div.small-12.medium-11.medium-centered.large-10.large-centered.columns
    div.row
      div.small-12.medium-5.large-5.columns
        p We are looking for anything that you think might be interesting for a wider audience and that is Scala related. Maybe you are using Scala in a novel way? Or you wrote an interesting open-source library? Have an experience report from a project you are working on? Or maybe you just want to show what can be done with the Scala language and existing Scala tools.
        div.centered-wrapper
          a.button(href="https://docs.google.com/a/softwaremill.pl/forms/d/15oNhhdEDHq6iI_7l8t3oNsVA4RyozJRXZZRAEIF7mAc/viewform") apply now
      div.small-12.medium-5.large-5.columns
        p Do you want to see your favourite Scala speaker at Scalar 2016? Or maybe you have a particular subject/library/framework you'd like to hear about on the conference? Let us know, as each year our goal is to make a conference that fits the audience as much as possible! We'll do our best to invite the suggested speakers or recruit speakers on specific subjects.
        div.centered-wrapper
          a.button(href="https://docs.google.com/a/softwaremill.pl/forms/d/1UR1trNJ9Mt49KSh9-3p1ngirVs6wtyzKuW0ZH_VjTIM/viewform") let us know