section#register.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Register
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div(style="width:100%; text-align:left;")
      iframe(src="http://eventbrite.com/tickets-external?eid=15993715634&ref=etckt", frameborder="0", height="245", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")
      div(style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;margin-top: -40px;")
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.com/r/etckt") Event Registration Online 
        span(style="color:#ddd;") for 
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="https://www.eventbrite.com/e/scalar-2015-registration-15993715634?ref=etckt") Scalar 2015
        span(style="color:#ddd;") powered by 
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.com?ref=etckt") Eventbrite