section#register.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Register
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div(style="width:100%; text-align:left;")
      iframe(src="https://www.eventbrite.com/tickets-external?eid=10586318965&ref=etckt", frameborder="0", height="214", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")
      div(style="font-family:'Exo 2', Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;")
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.com/r/etckt") Online Ticketing 
        span(style="color:#ddd;") for 
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="https://www.eventbrite.com/e/scalar-conference-registration-10586318965?ref=etckt") Scalar Conference
        span(style="color:#ddd;") powered by  
        a(style="color:#ddd; text-decoration:none;", target="_blank", href="http://www.eventbrite.com?ref=etckt") Eventbrite