section#gadgets.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    header.section-title
      h1 Gadgets
      small Company1
        a(href="https://softwaremill.com/") address
  div.row
    div.mug-table
      div.mug-member
        img(src="images/gadgets/blue-mug.png") 
        h2 MUG1
      div.mug-member
        img(src="images/gadgets/light-blue-mug.png") 
        h2 MUG2
      div.mug-member
        img(src="images/gadgets/red-mug.png")
        h2 MUG3
      div.mug-member
        img(src="images/gadgets/white-mug.png") 
        h2 MUG4
  div.row
    div.tshirt-table
      div.tshirt-member
        img(src="images/gadgets/man-tshirt.png") 
        h2 SHIRTmen (S,M,L,XL or XXL) for example SHIRTmenL
      div.tshirt-member
        img(src="images/gadgets/woman-tshirt.png") 
        h2 SHIRTwom (or M,L,XL,XXL) for example SHIRTwomL

      