section#gadgets.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  div.gadget.row
   div.small-12.medium-8.medium-centered.large-8.columns
    header.section-title
      h1 Gadgets
    h6 Would you like to get some Scalar gadgets and at the same time support homeless animals? Now you have a chance! What you need to do is just:
    ol 
     li Choose one of the gadgets below
     li Choose the organization you would like to support 
     li Tranfer money to the account of the organization
      p.list T-shirt: 40 PLN or more
      p.list Mug: 25 PLN or more
     li Title your transfer “DAROWIZNA” and add the code of chosen gadget (at the bottom-right corner of the photo) together with your size (in case you are ordering a T-shirt;))
     li Pick up your gadget at the conference registration point
     li Enjoy making some animal happy! :)
  
  div.gadget.row
   div.small-12.medium-4.large-4.columns
    a(href="https://www.facebook.com/DTKociaLapka/?fref=ts") 1. Dom Tymczasowy Kocia Łapka
    p ‘Kocia Łapka’ is a temporary house for homeless and wild cats from Pruszkow and suburbs of Warsaw. It is run by a small group of volunteers, whose mission is to save and heal homeless cats, and to find new homes for them. They also sterilize wild cats, take care of abandoned ones, sick or too young to survive by themselves.
   div.small-12.medium-4.large-4.columns
    a(href="https://www.facebook.com/DTKociaLapka/?fref=ts")  1. Dom Tymczasowy Kocia Łapka
    p ‘Kocia Łapka’ is a temporary house for homeless and wild cats from Pruszkow and suburbs of Warsaw. It is run by a small group of volunteers, whose mission is to save and heal homeless cats, and to find new homes for them. They also sterilize wild cats, take care of abandoned ones, sick or too young to survive by themselves.
   div.small-12.medium-4.large-4.columns
    a(href="https://www.facebook.com/DTKociaLapka/?fref=ts")   1. Dom Tymczasowy Kocia Łapka
    p ‘Kocia Łapka’ is a temporary house for homeless and wild cats from Pruszkow and suburbs of Warsaw. It is run by a small group of volunteers, whose mission is to save and heal homeless cats, and to find new homes for them. They also sterilize wild cats, take care of abandoned ones, sick or too young to survive by themselves.
    
  div.gadget.row
   div.small-12.medium-4.large-4.columns
     img.mug(src='images/gadgets/blue-mug.png')
     p.mug MUG1
   div.small-12.medium-4.large-4.columns
     img.mug(src='images/gadgets/light-blue-mug.png')
     p.mug MUG2
   div.small-12.medium-4.large-4.columns
     img.mug(src='images/gadgets/red-mug.png')
     p.mug MUG3
  
  div.gadget.row
   div.small-12.medium-6.large-6.columns
      img(src="images/gadgets/man-tshirt.png")
      p.shirt SHIRTmen (S,M,L,XL or XXL) 
      p.shirt for example SHIRTmenL
   div.small-12.medium-6.large-6.columns
      img(src="images/gadgets/woman-tshirt.png")
      p.shirt SHIRTwom (S,M,L,XL ot XXL)
      p.shirt for example SHIRTwomL

  

      