section#gadgets.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  div.small-12.medium-8.medium-centered.large-8.columns
    header.section-title
      h1 Gadgets
      small Company1
        a(href="https://softwaremill.com/") address
  div.gadget.row
  div.small-12.large-4.columns
     img(src='images/gadgets/blue-mug.png')
     |&nbsp; MUG1
  div.small-12.large-4.columns
     img(src='images/gadgets/light-blue-mug.png')
     |&nbsp;MUG2
  div.small-12.large-4.columns
     img(src='images/gadgets/red-mug.png')
     |&nbsp;MUG3
  br
  div.gadget.row
  div.small-6.large-6.columns
      img(src="images/gadgets/man-tshirt.png")
      |&nbsp;SHIRTmen (S,M,L,XL or XXL) 
      p for example SHIRTmenL
  div.small-6.large-6.columns
      img(src="images/gadgets/woman-tshirt.png")
      |&nbsp;SHIRTwom (S,M,L,XL ot XXL) 
      p for example SHIRTwomL

  

      