section.header.row
  div.small-12.medium-12.large-12.columns
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="http://scalar-conf.com/")
              img(src="images/scalar-logo.svg")
        li.toggle-topbar.menu-icon
          a(href="")

      section.top-bar-section
        ul.right
          li
            a(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top") Home
          li
            a(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#register") Register
          li
            a(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#news") News
          li
            a(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#venue") Venue
          li
            a(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#sponsors") Sponsors