section.header.row
  div.small-12.medium-12.large-12.columns
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="http://scalar-conf.com/")
              img(src="images/scalar-logo.svg")
        li.toggle-topbar.menu-icon
          a(href="")

      section.top-bar-section
        ul.right
          li
            a(data-scroll, href="#top") Home
          li
            a(data-scroll, href="#main-organizers") Partners
          li
            a(data-scroll, href="#organizer") Team
          li
            a(href="http://scalar-conf.com/2014/") 2014