section.header.row
  div.small-12.medium-12.large-12.columns
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="http://scalar-conf.com/")
              img(src="images/scalar-logo.svg")
        li.toggle-topbar.menu-icon
          a(href="")

      section.top-bar-section
        ul.right
          //- li
          //-   a(data-scroll, href="#call-for-papers") Call for papers
          li
            a(data-scroll, href="#organizer") Team
          li
            a(data-scroll, href="#sponsors") Sponsors
          li
            a(href="http://scalar-conf.com/2015/") 2015
          li
            a(href="http://scalar-conf.com/2014/") 2014
          li.tweet-btn
            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/", data-text="Check out #Scala @scalarconf on 16th April 2016 in Warsaw, Poland!", data-hashtags="scalarconf") Tweet