section.hero.row
  div.small-12.medium-12.large-12.columns
    h2 Best&nbsp;programmers.   Deep&nbsp;knowledge.   Current&nbsp;tech&nbsp;trends.
    h1(itemprop="description") Scalar&nbsp;&mdash; A Free-to-attend 
      span.highlight Scala 
      | Conference
  div.conference-data.centered-wrapper.small-12.medium-12.large-12.columns
    time(itemprop="startDate", datetime="2014-04-05")
      img(src="images/icons/calendar.svg")
      |&nbsp;05.04.2014
    span(itemprop="location")
      img(src="images/icons/map.svg")
      |&nbsp;Warsaw,&nbsp;Poland

  form(action="http://softwaremill.us2.list-manage.com/subscribe/post?u=ba834c562d82d9aba5eaf90ba&amp;id=d075d2cd7b", method="post", novalidate="novalidate")
    fieldset.row(class="info_fieldset")
      div#note
      div#fields.small-12.medium-9.medium-centered.large-6.large-centered.columns
        div.row.collapse
          div.small-12.medium-6.large-6.columns
            input#mce-EMAIL.textbox(type="text", value="", name="EMAIL", placeholder="Email", required="true")
          div.small-12.medium-6.large-6.columns
            input#mc-embedded-subscribe.button.postfix(type="submit", value="subscribe for news and updates", name="subscribe")