doctype html
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  head
    title Scalar - Scala Conference in Central Europe - 16th of April 2016, Warsaw, Poland.
    link(rel="shortcut icon", href="images/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css", media="Screen")
    meta(itemprop="name", content="Scalar")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(charset='utf-8')
    script(src="vendor/modernizr.js")
    script(src="app.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB7KRf5xZaANv6l1NWiISb5bFQf1inQb0&sensor=true")
    script(src="main.js")

  body#top#hotels
    
    include hotels-header
    
    div#hotels-content

      div#hotels-right-section
        p For your stay during the Scalar Conference, we recommend the following hotels, with a special discount for our participants:
        div.hotel-info
          h6
            a(href='https://www.radissonblu.com/en#/map-results') Hotel Radisson Blu Centrum Hotel
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
          p 
            i Very close to the venue of the conference, planty of luxury in a very good price.
          p
            b Price:
            |  312,12 PLN / single room &amp; 376,92 PLN / double room 
            b
              i 
            |  (8% VAT, breakfast and Internet included)
          p
            b Address:
            |  Grzybowska 24
          p
            b Email: 
            a(href='mailto: reservations.warsaw@radissonblu.com')  reservations.warsaw@radissonblu.com
          p
            b Promo Code:
            |  scalar 2016
          
        div.hotel-info
          h6
            a(href='http://www.accorhotels.com/gb/hotel-2894-ibis-warszawa-centrum/index.shtml') IBIS Warszawa Centrum
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
          p
            b Price:
            |  165,00 PLN / single room &amp; 185,00 PLN / double room 
            b
              i
            |  (8% VAT , breakfast and Internet included)
          p
            b Address:
            |  Ave Solidarnosci 165
          p
            b Email:
            |  
            a(href='mailto:H2894@accor.com') H2894@accor.com
          p
            b Promo Code:
            |  scalar 2016
        
        div.hotel-info
          h6
            a(href='http://www.accorhotels.com/gb/hotel-3714-ibis-warszawa-stare-miasto-old-town/index.shtml') IBIS Stare Miasto
          p 
            i Very good location, close to the conference venue as well as places worth seeing in Warsaw. 
          p
            b Price:
            |  165,00 PLN/ single room &amp; 185,00 PLN/ double room 
            b
              i
            |  (8% VAT,breakfast and Internet included)
          p
            b Address:
            |  ul. Muranowska 2
          p
            b Email:
            |  
            a(href='mailto:H3714@accor.com') H3714@accor.com
          p
            b Promo Code:
            |  scalar 2016
        p Other options in a very good location:
        p 
          a(href="http://www.campanile.com/pl") Campanile Hotel
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg')
            img(src='images/icons/star.svg') 
          |, ul. Towarowa 2 
        p 
          a(href="http://www.premiereclasse.com/pl") Premiere Classe
          |, Towarowa 2
        p 
          a(href="http://okidoki.pl/wp/lang/en/") Hostel OKIDOKI 
          |, Dąbrowskiego Square 3
       p 
          a(href="http://www.elhostel.pl/index.php?s=home&l=eng") ElHostel
          |, ul. Smocza 1
        p Useful links:
        p 
          a(href="http://warsawtour.pl/en") What to see in Warsaw
        p 
          a(href="http://www.ztm.waw.pl/?l=2") Public transport
        p 
          a(href="http://warszawa.jakdojade.pl/?locale=en") jakdojade.pl
        p 
          a(href="http://www.warsawtour.pl/en/warsaw-essentials/getting-around/taxis-1728.html") Taxi
        p 
          a(href="http://rozklad-pkp.pl/en") Railway timetable
        p 
          a(href="http://www.lotnisko-chopina.pl/?lang=en") Warsaw Chopin Airport

      div#map

    script(type="text/javascript")
      //- var w = window.innerWidth-15;
      var h = window.innerHeight;
      //- document.getElementById("map").style.width = w+"px";
      document.getElementById("hotels-content").style.height = h+"px";

    script(type="text/javascript")
      google.maps.event.addDomListener(window, 'load', initialize);

    script(src="vendor/jquery.js")
    script(src="vendor/fastclick.js")
    script(src="vendor/foundation.min.js")
    script(src="vendor/smooth-scroll.js")

    script
      $(document).foundation();
    script
      smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false
      });

    //- Twitter
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //- Facebook
    #fb-root
    script
      (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));