doctype html
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  head
    title Scalar - Scala Conference in Central Europe - 11th of April 2015, Warsaw, Poland.
    link(rel="shortcut icon", href="images/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css", media="Screen")
    meta(itemprop="name", content="Scalar")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(charset='utf-8')
    script(src="vendor/modernizr.js")
    script(src="app.js")
    script(src="main.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB7KRf5xZaANv6l1NWiISb5bFQf1inQb0&sensor=true")
    script(type="text/javascript")
      function initialize() {
        var mapOptions = {
          center: { lat: 52.213628, lng: 21.003349},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        map.setOptions({styles: styles});
      }
      google.maps.event.addDomListener(window, 'load', initialize);

  body#top

    include header

    div#map
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=108+The+Terrace,Wellington,New+Zealand&zoom=14&size=600x300&markers=color:red|108+The+Terrace,Wellington,New+Zealand&sensor=true",alt="Static fallback image showing the location of 108 The Terrace, Wellington",width="600",height="300")