doctype 5
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  head
    title Scalar - Scala Conference in Central Europe - 5th of April 2014, Warsaw, Poland.
    link(rel="shortcut icon", href="images/favicon.ico")
    //- link(href='http://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css", media="Screen")
    meta(itemprop="name", content="Scalar")
    meta(charset='utf-8')
    script(src="vendor/modernizr.js")
    script(src="app.js")

  body#top
    include header
    include hero
    include sponsors-slider
    //- include eventbrite
    //- include news-section
    include agenda
    //- include venue
    include sponsors
    //- include organisers
    include organizer

    script(src="vendor/jquery.js")
    script(src="vendor/fastclick.js")
    script(src="foundation.min.js")
    script(src="vendor/smooth-scroll.js")

    script
      $(document).foundation();
