section#main-organizers.main-organizers.row
  a(href="http://www.meetup.com/BeScala/", target="_blank")
    img(src="images/sponsors/bescala.png")
    small community partner
  //- div.centered-wrapper
  //-   a.button(href="images/scalar-sponsorship-prospectus-2015.pdf", target="_blank") become a sponsor next year