section#main-organizers.main-organizers.row
  div.small-12.medium-12.large-12.columns
    a(href="https://softwaremill.com/", target="_blank")
      img(src='images/sponsors/sml.png')
      small main organizer
  div.small-12.medium-12.large-12.columns
    a(href="http://www.virtuslab.com/", target="_blank")
      img(src="images/sponsors/virtus-lab.png")
      small organizer
    a(href="http://www.scalac.io/", target="_blank")
      img(src="images/sponsors/scalac.png")
      small organizer
  div
    a(href="http://www.meetup.com/WarszawScaLa/", target="_blank")
      img(src="images/sponsors/warszawscala.png")
    div.centered-wrapper
      a.button(href="mailto:hello@scalar-conf.com") become a sponsor