section#sponsors.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Sponsors
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.centered-wrapper
      a.sponsors-link(href="http://www.meetup.com/Java-User-Group-Lodz/", target="_blank")
        img(src="images/sponsors/lodzjug.png")
        small community partner
      a.sponsors-link(href="http://www.meetup.com/BeScala/", target="_blank")
        img(src="images/sponsors/bescala.png")
        small community partner
      a.sponsors-link(href="http://scala-vienna.org/", target="_blank")
        img(src="images/sponsors/viennajug.png")
        small community partner
      a.sponsors-link(href="http://warszawa.jug.pl/#/about", target="_blank")
        img(src="images/sponsors/warszawajug.png")
        small community partner
      a.sponsors-link(href="http://www.meetup.com/Krakow-Scala-User-Group/", target="_blank")
        img(src="images/sponsors/krakowjug.png")
        small community partner
      a.sponsors-link(href="http://www.meetup.com/london-scala", target="_blank")
        img(src="images/sponsors/lsug.png")
        small community partner
  div.centered-wrapper
    a.button(href="images/scalar-sponsorship-prospectus-2016.pdf", target="_blank") become a sponsor