section#main-organizers.main-organizers.row
  div.small-12.medium-12.large-12.columns
    a(href="http://www.javeo.eu/", target="_blank")
      img(src='images/sponsors/javeo.png')
      small SPONSOR
  div.small-12.medium-12.large-12.columns
    a(href="https://softwaremill.com/", target="_blank")
      img(src='images/sponsors/sml.png')
      small main organizer
  div.small-12.medium-12.large-12.columns
    a(href="http://www.virtuslab.com/", target="_blank")
      img(src="images/sponsors/virtus-lab.png")
      small organizer
    a(href="http://www.scalac.io/", target="_blank")
      img(src="images/sponsors/scalac.png")
      small organizer
  div
    a(href="http://torun.jug.pl/", target="_blank")
      img(src="images/sponsors/torun-jug.png")
      small community partner
    a(href="http://www.meetup.com/WarszawScaLa/", target="_blank")
      img(src="images/sponsors/warszawscala.png")
      small community partner
    a(href="https://twitter.com/ScalaTimes", target="_blank")
      img(src="images/sponsors/scala-times.png")
      small community partner
    a(href="http://ssug.pl/", target="_blank")
      img(src="images/sponsors/silesia-scala.png")
      small community partner
    div.centered-wrapper
      a.button(href="images/scalar-sponsorship-prospectus-2015.pdf", target="_blank") become a sponsor