doctype 5
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  head
    title April 5, 2014 - Scalar Conference
    link(rel="shortcut icon", href="images/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=Exo+2:300,700,500,400,200&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css")
    meta(itemprop="name", content="Scalar")
    script(src="vendor/modernizr.js")
    script(src="app.js")

  body
    include header-for-news

    section.news-posts.row
      header.section-title
        h1 News
      div.small-12.medium-8.medium-centered.large-6.large-centered.columns

        include news-posts/news-mixin.jade
        include news-posts/social-mixin.jade

        include news-posts/5.jade
        include news-posts/4.jade
        include news-posts/3.jade
        include news-posts/2.jade
        include news-posts/1.jade

    include organizer

    script(src="vendor/jquery.js")
    script(src="vendor/fastclick.js")
    script(src="foundation.min.js")

    script
      $(document).foundation();
