include news-posts/news-mixin.jade
include news-posts/social-mixin.jade

section#news.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 News
    div
      a(href="http://scalar-conf.com/news.html")
        small All news

  div.small-12.medium-4.large-4.columns

    include news-posts/5.jade

    a.read-more.button(href="http://scalar-conf.com/news.html") read more

  div.small-12.medium-4.large-4.columns

    include news-posts/4.jade

    a.read-more.button(href="http://scalar-conf.com/news.html") read more

  div.twitter-widget.small-12.medium-4.large-4.columns
    a.twitter-timeline(href='https://twitter.com/scalarconf', width="700", data-widget-id='423429614577278976', data-chrome='noheader nofooter noborders transparent', data-link-color="#ffffff", data-tweet-limit='2', data-related="conference,Scala")
