section#organisers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Organisers
  div.small-12.medium-12.large-12.columns
    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  div.centered-wrapper.small-12.medium-12.medium-centered.large-6.large-centered.columns
    a(href="https://softwaremill.com/", target="_blank")
      img#sml-logo(src='images/icons/sml-logo.svg')
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.wojciechowska
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Małgorzata Wojciechowska
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.warski
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Adam Warski
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.zuchos
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Łukasz Żuchowski
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.grajek
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Krzysztof Grajek
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.buda
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Piotr Buda
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
  div.small-12.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.zborowski
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Małgorzata Wojciechowska
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
  div.small-20.medium-6.large-6.columns.person
    div.small-2.medium-1.large-1.columns
      div.circle.wozniak
    div.small-10.medium-8.large-8.columns.bio
      p.person_name Mirek Woźniak
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium

