section#past-editions.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Never been to Scalar before?
    small Check out previous editions to get an idea of how awesome Sclar conference is!
  div.small-12.medium-11.medium-centered.large-10.large-centered.columns
    div.centered-wrapper
      a.button.big-button(href="http://scalar-conf.com/2014") 2015
      a.button.big-button(href="http://scalar-conf.com/2015") 2014