section#register.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Register
  div.centered-wrapper
    a.button.big-button(href="https://scalar-registration.herokuapp.com/#/") Register for Scalar
    br
    span until March 16th