section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/doenitz.jpg")
          div.speaker-bio
            h2 Mathias Doenitz
            a(href="https://twitter.com/sirthias").speaker-link @sirthias
            p Generalist with a nerdy streak and a weakness for solving problems with software. Currently into Scala (a lot). 
            p Among many other things Mathias is the original author of spray.io, which was acquired by Typesafe in 2013. As a long-time and active member of the Java and Scala open-source communities he is especially excited about everything performance-, scalability- and web-related.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/lakhal.jpg")
          div.speaker-bio
            h2 Amira Lakhal
            a(href="https://twitter.com/MiraLak").speaker-link @MiraLak
            p  Amira is an Agile Java Scala developer at 
              a(href="https://twitter.com/Valtech_FR") Valtech France
              |. She is passionate about functional languages and Big Data. She is one of the Duchess France leaders where she helps women in IT to became role models.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/torreborre.jpg")
          div.speaker-bio
            h2 Eric Torreborre
            a(href="https://twitter.com/etorreborre").speaker-link @etorreborre
            p I am a software developer living in Berlin, working for Zalando.
            p I am the creator of the 
              a(href="http://etorreborre.github.io/specs2/") specs2 
              |  library for software specifications in Scala. Scala has has been my gateway drug to functional programming and to many "unknown unknowns". When I manage to go from "unknown unknowns" to "known knowns" I try to spread the word.