section.sponsors.row
  div.small-12.medium-12.large-12.columns
    div.sponsors-slide
      a(href="http://typesafe.com/", target="_blank")
        img(src="images/sponsors/typesafe.png")
        small silver sponsor
      a(href="http://www.virtuslab.com/", target="_blank")
        img(src="images/sponsors/virtus-lab.png")
        small partner
      a(href="https://softwaremill.com/", target="_blank")
        img(src="images/sponsors/sml.png")
        small organizer
    div.centered-wrapper
      a.button(href="images/scalar-sponsorship-prospectus.pdf", target="_blank") become a sponsor