section#sponsors.row
  a.to-top(href="#")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Sponsors
  div.small-12.medium-8.medium-centered.large-6.large-centered.columns
    p Show yourself to the professionals. Make friends. Dive into the world of the new Java. All in one click.
    div.centered-wrapper
      a.become-sponsor.button(href="mailto:scalar@scalar-conf.com") become a sponsor
    div.partners
      h2 Partners
      a(href="http://www.virtuslab.com/", target="_blank")
        img(src="images/sponsors/virtus-lab.png")
