section.sponsors.row
  div.small-12.medium-12.large-12.columns
    div.sponsors-slide
      a(href="http://www.virtuslab.com/")
        img(src="images/sponsors/virtus-lab.png")
    div.centered-wrapper
      a.button(href="mailto:scalar@scalar-conf.com") become a sponsor