section#typesafe-sml.row
  div.small-12.medium-12.large-12.columns
    div.centered-wrapper
      a(href="https://softwaremill.com/", target="_blank")
        img(src="images/sponsors/sml.png")
        small conference organizer
      a(href="http://typesafe.com/", target="_blank")
        img(src="images/sponsors/typesafe.png")
        small conference partner