section#venue.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Venue
    p For your stay during the Scalar Conference, we made deals with several hotels in the area, that provide a special discount to our participants. For more details go to 
      a(href="/hotels.html") HOTELS page
      |.
  div.small-11.small-centered.medium-12.medium-centered.large-12.large-centered.columns
    div#venue-map
    div#entrance-photo
      img(src="images/biblioteka-entrance.jpg")
      div.image-note Entrance A / wejście A&mdash;entrance to the venue