section#venue.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Venue
    p This year our conference will take place at the Muranow Conference Centre, situated in the Museum of the History of Polish Jews. We hope that very comfortable rooms and beautiful architecture of the building will take our conference to the next level
   // a(href='http://scalar-conf.com/hotels.html') Our offer of the hotels
  div.small-11.small-centered.medium-12.medium-centered.large-12.large-centered.columns

    div#venue-map
      iframe(width="100%", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19544.871174828557!2d20.988746351630546!3d52.24140566466325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8c229da88e7fa295!2sMuzeum+Historii+%C5%BByd%C3%B3w+Polskich+POLIN!5e0!3m2!1sen!2sus!4v1458162160319")
    div#entrance-photo
      img(src="images/museum_photo.png")
      div.image-note Centrum Konferencyjne Muranow, ul. Anielewicza 6, Warszawa, Poland