section#venue.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Venue
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    iframe(width="100%", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com.ua/maps?q=Aleja+Niepodleg%C5%82o%C5%9Bci+213,+Ochota+Warszawa,+mazowieckie,+Poland&amp;ie=UTF8&amp;hl=en&amp;geocode=FYq4HAMdXH9AAQ&amp;split=0&amp;hq=&amp;hnear=Aleja+Niepodleg%C5%82o%C5%9Bci+213,+Warszawa,+mazowieckie,+Poland&amp;t=m&amp;ll=52.213918,21.004143&amp;spn=0.018406,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed")
  div.row
    div.venue-address.small-12.medium-8.medium-centered.large-8.large-centered.columns
      small
        a#google-maps-link(href="https://maps.google.com.ua/maps?q=Aleja+Niepodleg%C5%82o%C5%9Bci+213,+Ochota+Warszawa,+mazowieckie,+Poland&amp;ie=UTF8&amp;hl=en&amp;geocode=FYq4HAMdXH9AAQ&amp;split=0&amp;hq=&amp;hnear=Aleja+Niepodleg%C5%82o%C5%9Bci+213,+Warszawa,+mazowieckie,+Poland&amp;t=m&amp;ll=52.213918,21.004143&amp;spn=0.018406,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed", style="color:#ffffff;text-align:left") View Larger Map 
      div National Library (Biblioteka Narodowa), Aleja Niepodleglosci 213, Warsaw, Poland
  div.row
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      img(src="images/venue-map.jpg", width="100%")
          