div.news-post#algebraic-data-types-in-a-hybrid-paradigm-language
  header.post-header
    h1 Algebraic data types in a hybrid paradigm language
    time.post-date(datetime="2016-04-06") April 6, 2016

  div.post-summary
    p Scala, being a hybrid language, provides programmers with a flexibility to choose the best tool for their job. Whether one wants a quick and dirty imperative hack or a super-smart clean functional solution to his problem, there is a choice. This is arguably one of main reasons behind Scala's increasing popularity.

  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/blog.html#algebraic-data-types-in-a-hybrid-paradigm-language", data-text="Algebraic data types in a hybrid paradigm language", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    div.fb-like(data-href="http://scalar-conf.com/blog.html#algebraic-data-types-in-a-hybrid-paradigm-language", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")