- var title = 'Algebraic data types in a hybrid paradigm language'
- var permalink = 'algebraic-data-types-in-a-hybrid-paradigm-language'
- var date = 'April 6, 2016'
- var dateISO = '2016-04-06'

- var link = 'http://scalar-conf.com/blog.html#'+ permalink

+article(title, date, dateISO, permalink)
  p Scala, being a hybrid language, provides programmers with a flexibility to choose the best tool for their job. Whether one wants a quick and dirty imperative hack or a super-smart clean functional solution to his problem, there is a choice. This is arguably one of main reasons behind Scala's increasing popularity.

  +social(link, title)
