div.news-post#10-key-facts-about-adform
  header.post-header
    h1 10 Key Facts About Adform
    time.post-date(datetime="2016-04-07") April 7, 2016

  div.post-summary
    p 1.  Adform is an independent and open full-stack ad-tech platform servicing media agencies, trading desks, brands and publishers globally while providing a unified, data-driven ecosystem. 
    p 2.  We are responsible for ensuring that billions of ads are seen by the right consumers at the right time every day, which means we need a robust development and IT team to make that happen.

  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/blog.html#10-key-facts-about-adform", data-text="10 Key Facts About Adform", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    div.fb-like(data-href="http://scalar-conf.com/blog.html#10-key-facts-about-adform", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")