- var title = '10 Key Facts About Adform'
- var permalink = '10-key-facts-about-adform'
- var date = 'April 7, 2016'
- var dateISO = '2016-04-07'

- var link = 'http://scalar-conf.com/blog.html#'+ permalink

+article(title, date, dateISO, permalink)
  p 1.  Adform is an independent and open full-stack ad-tech platform servicing media agencies, trading desks, brands and publishers globally while providing a unified, data-driven ecosystem. 
  p 2.  We are responsible for ensuring that billions of ads are seen by the right consumers at the right time every day, which means we need a robust development and IT team to make that happen.

  +social(link, title)
