div.news-post#10-key-facts-about-adform
  header.post-header
    h1 10 Key Facts About Adform
    time.post-date(datetime="2016-04-07") April 7, 2016
  
  div.post-summary
    :marked
      **Guest post by [Adform](http://site.adform.com/)**

      1.  Adform is an independent and open full-stack ad-tech platform servicing media agencies, trading desks, brands and publishers globally while providing a unified, data-driven ecosystem. 
      2.  We are responsible for ensuring that billions of ads are seen by the right consumers at the right time every day, which means we need a robust development and IT team to make that happen.
      3.  Adform was founded in Denmark in 2002 and is among the world’s largest private independent advertising technology companies. We have over 700 employees globally, with offices in 15 countries throughout Europe, North America and APAC.
      4.  Adform has an open dynamic environment. We are proud, not only of our good product, but also of the unique informal culture inside our offices. We have self-regulating teams, no bureaucracy, committed talented people and a geeky atmosphere guaranteed!
      5.  Adform has one of the largest Demand Side Platforms. 
      It handles more than 1 million QPS with capacity for more than 1.5 million. In total, 55 billion requests are received and responded to in 100-millisecond windows each day. For each request, around 4500 filters are applied to select the appropriate ad with which to bid.
      6.  The Adform Platform is distributed on hardware servers across five data centers (three in the EU, one in the US and one in APAC).
      7.  The Adform Research team has access to a real-time data stream, totaling 5 TB/day, allowing them to validate their ideas with current data.
      8.  The Adform Research infrastructure consists of a 180+ TB HP Vertica cluster (18 servers, 360 CPUs, 4.5 TB RAM and 375 TB total storage capacity), which is at the data scientists’ disposal.
      9.  Adform has a few numbers to share:
        *  7 million clicks registered per day
        *  1.7 billion unique cookies and approximately 6 billion unique cookie profiles stored in Aerospike
        *  2 billion ad-serving transactions per day
        *  3000+ high-performance servers
        *  complex calculations per request processed in less than 100 ms
      10.  In December 2015, Adform raised $21.5M to fund the global growth of its independent and open full-stack ad-tech platform. It has big expansion plans for its offices in Poland, Lithuania, Belarus, Denmark and the UK. 

    img(src="images/sponsors/adform-blogpost.jpg")
    br
    br


    :marked
      If you’re an entrepreneur at heart, if you’re always seeking a new horizon, then you’ll find a happy professional home at Adform. Do you want to participate in the growing ad-tech sector too?

      Drop us a line or check out our open positions [here](http://join.adform.com/open-positions/all/poland/).

      See you at the conference!
      
      Adform Team

  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/blog.html#10-key-facts-about-adform", data-text="10 Key Facts About Adform", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    div.fb-like(data-href="http://scalar-conf.com/blog.html#10-key-facts-about-adform", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")