- var title = 'EasyDI – Who wants some cake?'
- var permalink = 'easydi-who-wants-some-cake'
- var date = 'April 11, 2016'
- var dateISO = '2016-04-11'

- var link = 'http://scalar-conf.com/blog.html#'+ permalink

+article(title, date, dateISO, permalink)
  :markdown
    Scala developers have lots of options when it comes to doing [Dependency Injection](https://en.wikipedia.org/wiki/Dependency_injection) (or DI). The usual Java libraries can be used, like [Spring](http://docs.spring.io/autorepo/docs/spring/3.2.x/spring-framework-reference/html/beans.html), or [Guice](https://github.com/google/guice) for Play developers.

    But Scala being Scala, there are other options. You can use libraries leveraging macros, like [MacWire](https://github.com/adamw/macwire), or use the Scala type system and the infamous [“Cake pattern”](http://jonasboner.com/real-world-scala-dependency-injection-di) and its [many variations](http://www.warski.org/blog/2010/12/di-in-scala-cake-pattern) using traits, with or without self-types.

  +social(link, title)
