div.news-post#scalar-2016-announced
  header.post-header
    h1 Scalar 2016 is officially announced
    time.post-date(datetime="2015-11-17") November 17, 2015

  div.post-summary
    p Catch Scalar in 2016! We are keeping up the momentum and the third edition of Scalar conference is on track.
    p Since this conference is free-to-attend, we are looking for “community angels” and sponsors. So, spread a word!

  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/news.html##scalar-2016-announced", data-text="Scalar 2016 is officially announced", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    div.fb-like(data-href="http://scalar-conf.com/news.html##scalar-2016-announced", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")