- var title = 'Scalar 2016 call for papers and call for topics is open!'
- var permalink = 'scalar-2016-c4p-open'
- var date = 'December 10, 2015'
- var dateISO = '2015-12-10'

- var link = 'http://scalar-conf.com/news.html#'+ permalink

+article(title, date, dateISO, permalink)
  p The Scalar 2016 C4P is officially open! We are waiting for your proposals until 31st of January, but also accepting talks on a rolling basis. 
  p Fill in the form 
    a(href="https://docs.google.com/forms/d/15oNhhdEDHq6iI_7l8t3oNsVA4RyozJRXZZRAEIF7mAc/viewform") here
    | .

  +social(link, title)