div.news-post#scalar-2016-c4p-ends
  header.post-header
     h1 Scalar 2016 call for papers ends &amp; free trainings announcement!
    time.post-date(datetime="2016-01-26") January 26, 2016
  
  div.post-summary
    p Reminder - only a couple days left to submit your proposal for the Scalar 2016.
    p Also VirtusLab and SoftwareMill will hold a free Scala training session, on the 15th of April.

  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/news.html#scalar-2016-c4p-ends", data-text="Scalar 2016 call for papers ends & free trainings announcement!", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    div.fb-like(data-href="http://scalar-conf.com/news.html#scalar-2016-c4p-ends", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")