section#past-editions.row
  
  include to-top-btn
  
  header.section-title
    h1 Never been to Scalar before?
    small Check out previous editions to get an idea of how awesome Scalar conference is!
  div.small-11.small-centered.medium-11.medium-centered.large-9.large-centered.columns
    .video-wrapper
      iframe(width="100%", height="56.25%", src="https://www.youtube.com/embed/BV20knMISy8", frameborder="0", allowfullscreen)
  div.row
    div.small-11.small-centered.medium-11.medium-centered.large-9.large-centered.columns
      div.centered-wrapper
        a.button.big-button(href="http://scalar-conf.com/2015") 2015
        a.button.big-button(href="http://scalar-conf.com/2014") 2014