section#register.row
  
  include to-top-btn
  
  header.section-title
    h1 Register
  div.centered-wrapper
    a.button.big-button(href="https://scalar-registration.herokuapp.com/#/") Register for Scalar
    br
    span until March 16th