section#stats.row
  
  include to-top-btn
  
  header.section-title
    h1 2015 stats
  div.small-11.small-centered.medium-12.medium-centered.large-12.large-centered.columns
    img(src="images/infographics.png")