mixin header()
  div.header.row
    div.small-12.medium-12.large-12.columns
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            h1
              a(href="/")
                img(src="images/scalar-logo.svg")
          li.toggle-topbar.menu-icon
            a(href="")

        div.top-bar-section
          ul.right
            // li
            //  a(data-scroll, href="#register") Register
            // li
              // a(data-scroll, href="#agenda") Agenda
            // li
              // a(data-scroll, href="https://docs.google.com/forms/d/e/1FAIpQLSce2PUyVbE-XF9ndDZcEvNz3-aLSkZ21c7CnUTL3SROsVCLHQ/viewform") C4P
            //li
            //  a(data-scroll, href="http://blog.scalar-conf.com") Blog

            - var menu = Array.prototype.slice.call(arguments);
            for item in menu
              li
                a(data-scroll, href="http://www.scalar-conf.com/#"+item)= item.charAt(0).toUpperCase() + item.slice(1)
            li
              a(href="https://scalar-conf.com/", target="_blank") 2025
            li
              a(href="https://typeville-56ef49ad5026668-b266fc4d2d9df.webflow.io/", target="_blank") 2024
            li
              a(href="https://typeville-56ef49ad5026668-ed79806885b0c.webflow.io/", target="_blank") 2023
            li
              a(href="/2020/") 2020
            li
              a(href="/2019/") 2019
            li
              a(href="/2018/") 2018
            li
              a(href="/2017/") 2017
            li
              a(href="/2016/") 2016
            li
              a(href="/2015/") 2015
            li
              a(href="/2014/") 2014
            // li
              // a(data-scroll, href="#afterparty") Afterparty
            // li
            //  a(data-scroll, href="#venue") Venue
            li.tweet-btn
              a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/", data-text="Check out #Scala @scalarconf on 8-10th October 2020 in Warsaw, Poland!", data-hashtags="scalarconf") Tweet
