- var title = 'Scalar 2016 is officially announced'
- var permalink = 'scalar-2016-announced'
- var date = 'November 17, 2015'
- var dateISO = '2015-11-17'

- var link = 'http://scalar-conf.com/news.html#'+ permalink

+article(title, date, dateISO, permalink)
  p Catch Scalar in 2016! We are keeping up the momentum and the third edition of Scalar conference is on track.
  p Since this conference is free-to-attend, we are looking for “community angels” and sponsors. So, spread a word!

  +social(link, title)