- var title = 'Scalar 2015 &mdash; Scala Conference in Central Europe is officially announced'
- var permalink = '#scalar-2015-announced'
- var date = 'October 22, 2014'
- var dateISO = '2014-10-22'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p Scalar is coming in 2015! Read 
    a(href='https://softwaremill.com/scalar-scala-conference-2015/') SoftwareMill's blog
    | . 

  +social(link, title)