- var title = 'Scalar &mdash; Scala Conference in Central Europe officially announced'
- var permalink = '#scalar-announced'
- var date = 'October 11, 2013'
- var dateISO = '2013-10-11'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p For more info read 
    a(href='https://softwaremill.com/scalar-scala-conference-announced/') this blog post
    | .

  +social(link, title)