- var title = 'Scalar got a venue!'
- var permalink = '#scalar-got-venue'
- var date = 'January 21, 2014'
- var dateISO = '2014-01-21'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p We've got a venue! Scalar will be held at Warsaw's National Library (Biblioteka Narodowa) placed at Aleja Niepodleglosci 213. 
  p This superb spot is very spacious - we've got 344 square meters ready to accomodate the Scala people, 264 seats and marvelous acoustics. 2500W-strong sound system will make sure every chunk of Scala lore is delivered to everyone in the room. Yes, we really can't wait to see you in April!

  +social(link, title)
