- var title = 'Scalar 2015 call for papers is open!'
- var permalink = '#scalar-2015-c4p-open'
- var date = 'January 8, 2015'
- var dateISO = '2015-01-08'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p Call for papers for Scalar 2015 is now open! You have until the 8th of February to submit your abstract. Just 
    a(href='https://docs.google.com/forms/d/1LtbOxICVsLtwt0WPkr_k9o5YO3HgrztVv4cGsThI_M0/formResponse') fill in the form
    | , and we'll get in touch in Februray. You don't risk anything by submitting, so do not hesitate :) 

  +social(link, title)