- var title = 'Scalar is calling for papers (ends Feb 9)'
- var permalink = '#call-for-papers-is-on'
- var date = 'January 28, 2014'
- var dateISO = '2014-01-28'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p The call for papers is still on! 
    a(href='http://goo.gl/WB7RTx') Get aboard
    | !

  +social(link, title)