- var title = 'Scalar 2016 call for papers ends & free trainings announcement!'
- var permalink = '#scalar-2016-c4p-ends'
- var date = 'January 26, 2016'
- var dateISO = '2016-01-26'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p Reminder - only a couple days left to submit your proposal for the Scalar 2016.
  p Also VirtusLab and SoftwareMill will hold a free Scala training session, on the 15th of April.

  +social(link, title)