- var title = 'Scalar 2016 agenda & registration'
- var permalink = '#scalar-2016-registration-agenda'
- var date = 'February 25, 2016'
- var dateISO = '2016-02-25'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p The registration for Scalar is now open! (see above)
  p Also, conference lineup is here! Check it out, we had a tough time choosing the best out of your great submissions.

  +social(link, title)