- var title = 'Call for papers closed, thanks!'
- var permalink = '#call-for-paper-closed'
- var date = 'February 11, 2014'
- var dateISO = '2014-02-11'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)
  p Thanks for the submissions, we've got some tough choices to make - expect a speaker list soon!

  +social(link, title)

