- var title = 'Registration open!'
- var permalink = '#scalar-registration-open'
- var date = 'February 13, 2014'
- var dateISO = '2014-02-13'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)

  p The registration is now open! It's easy, fast and hassle-free. The seats are limited, so don't wait until April :)

  +social(link, title)