- var title = 'Scalar is over, thanks!'
- var permalink = '#scalar-over'
- var date = 'April 10, 2014'
- var dateISO = '2014-04-10'

- var link = 'http://scalar-conf.com/news.html'+ permalink

+article(title, date, dateISO, permalink)

  p Thanks for coming! The conference summary will be available at SoftwareMill's blog. Keep on scaling!
