mixin social(link, title)
  div.social
    a(href="https://twitter.com/share", class="twitter-share-button", data-url= link, data-text= title, data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet
    .fb-like(data-href= link, data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")