extends ../pug/templates/layout.jade

block announcement
  p.announcement After careful consideration, we agreed to cancel Scalar. Please know this decision was reached with the well-being and safety of our community as our top priority.

block content
  include two-events-2020/workshops.jade
  include agenda.jade
  include two-events-2020/workshop-sponsors.jade