extends ../pug/templates/layout.jade

block content    
  include two-events-2020/online.jade
  include two-events-2020/online-cfp.jade
  include two-events-2020/sponsor.jade
  include two-events-2020/speakers.jade
  include two-events-2020/register.jade
  include two-events-2020/online-sponsors.jade