extends ../pug/templates/layout.jade

block content
  section.EVENTS.row
    header.section-title
      h1 Scala Workshops
    div.small-10.medium-10.medium-centered.large-10.large-centered.columns

      include two-events-2020/workshops.jade