+section("afterparty")
  div.row
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      header.section-title
        h1 Afterparty
        p For the after party we are happy to invite you to Grill & Bar Osada, at 
          a(href="https://www.google.pl/maps/dir/Museum+of+the+History+of+Polish+Jews,+Anielewicza+6,+00-157+Warszawa/Bitwy+Warszawskiej+1920+r.+19,+05-077+Warszawa/@52.251905,20.9421605,13z/data=!4m14!4m13!1m5!1m1!1s0x471ecc79a995b873:0xe21ada43504430b0!2m2!1d20.993184!2d52.2493743!1m5!1m1!1s0x471ecca7b018254b:0x70439debd1fc035f!2m2!1d20.9643259!2d52.215008!3e3") Bitwy Warszawskiej 1920r., 19
          |. We will be waiting for you on Friday from 18:30.
