+section("afterparty")
  div.row
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      header.section-title
        h1 Afterparty
        p For the after party we are happy to invite you to the BLU Club, at 
          a(href="https://www.google.pl/maps/dir/Museum+of+the+History+of+Polish+Jews,+Anielewicza+6,+00-157+Warszawa/Mazowiecka+14,+Warsaw/@52.2408926,20.9963841,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x471ecc79a995b873:0xe21ada43504430b0!2m2!1d20.9931839!2d52.2493743!1m5!1m1!1s0x471ecc6011d92d77:0xdc020736a5243054!2m2!1d21.0130976!2d52.2381594!3e3") Mazowiecka 14
          |. We will be waiting for you on Friday from 18:30. We have a whole floor just to ourselves so that we can relax & get to know each other better! After 22:00 you are also welcome to join the party at BANK Club, just one floor above.
