section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top

  header.section-title
    h1 Agenda: Thursday, 19th March
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 9:00
      div.description.small-12.medium-10.large-11.columns Registration
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 9:50
      div.description.small-12.medium-10.large-11.columns Welcome
    div.row
      div.time.small-12.medium-2.large-1.columns 10:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-warski    
            h1
              a(href="#warski") K. Kondzielski, A. Warski
              |  Programmer-friendly, type-safe HTTP API descriptions
        div.description.small-3.column  
         div.talk#talk-plachta
           h1
              a(href="#plachta") Michał Płachta
              |  Programming IO using the MTL style
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-degoes
           h1
              a(href="#degoes") John A. de Goes
              |  Hands-On Functional Design
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-ciesielski-ludwikowski
           h1
              a(href="#ciesielski-ludwikowski") K. Ciesielski, A. Ludwikowski
              |  Akka Typed fundamentals
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 11:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-warski    
            h1
              a(href="#warski") K. Kondzielski, A. Warski
              |  Programmer-friendly, type-safe HTTP API descriptions
        div.description.small-3.column  
         div.talk#talk-plachta
           h1
              a(href="#plachta") Michał Płachta
              |  Programming IO using the MTL style
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-degoes
           h1
              a(href="#degoes") John A. de Goes
              |  Hands-On Functional Design
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-ciesielski-ludwikowski
           h1
              a(href="#ciesielski-ludwikowski") K. Ciesielski, A. Ludwikowski
              |  Akka Typed fundamentals
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 12:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-owczarek  
            h1
              a(href="#owczarek") Kamil Owczarek
              |  TBA
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-plachta
           h1
              a(href="#plachta") Michał Płachta
              |  Programming IO using the MTL style
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-rey
           h1
              a(href="#rey") Daniel Rey
              |  A tale of Either and friends
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-ciesielski-ludwikowski
           h1
              a(href="#ciesielski-ludwikowski") K. Ciesielski, A. Ludwikowski
              |  Akka Typed fundamentals
              br
              |  &nbsp;
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 13:00
      div.description.small-12.medium-10.large-11.columns Lunch break
    div.row
      div.time.small-12.medium-2.large-1.columns 14:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-owczarek  
            h1
              a(href="#owczarek") Kamil Owczarek
              |  TBA
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-plachta
           h1
              a(href="#plachta") Michał Płachta
              |  Programming IO using the MTL style
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-rey
           h1
              a(href="#rey") Daniel Rey
              |  A tale of Either and friends
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-ciesielski-ludwikowski
           h1
              a(href="#ciesielski-ludwikowski") K. Ciesielski, A. Ludwikowski
              |  Akka Typed fundamentals
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 15:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-owczarek  
            h1
              a(href="#owczarek") Kamil Owczarek
              |  TBA
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-makhasoeva
           h1
              a(href="#makhasoeva") Oli Makhasoeva
              |  An introduction to recursion schemes
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-rey
           h1
              a(href="#rey") Daniel Rey
              |  A tale of Either and friends
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-figueiredo
           h1
              a(href="#figueiredo") Rafael S. Figueiredo
              |  Fork Your Fibers, Terminate Your Threads
    div.row
      div.time.small-12.medium-2.large-1.columns 16:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-owczarek  
            h1
              a(href="#owczarek") Kamil Owczarek
              |  TBA
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-makhasoeva
           h1
              a(href="#makhasoeva") Oli Makhasoeva
              |  An introduction to recursion schemes
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#empty
             h1
              a(href="#empty")   
              |      
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-figueiredo
           h1
              a(href="#figueiredo") Rafael S. Figueiredo
              |  Fork Your Fibers, Terminate Your Threads
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 18:00
      div.description.small-12.medium-10.large-11.columns Party: Grill & Bar Osada, Bitwy Warszawskiej 1920, 19
  header.section-title
    h1 Agenda: Friday, 20th March
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.time.small-12.medium-2.large-1.columns 10:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
        div.description.small-3.column
          div.talk#talk-fraser
           h1
              a(href="#fraser") Adam Fraser
              |  ZIO Test For Everyone
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 11:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-fraser
           h1
              a(href="#fraser") Adam Fraser
              |  ZIO Test For Everyone
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 12:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-wiem
           h1
              a(href="#wiem") Wiem Zine Elabidine
              |  Friendly Functional Programming
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 13:00
      div.description.small-12.medium-10.large-11.columns Lunch break
    div.row
      div.time.small-12.medium-2.large-1.columns 14:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-wiem
           h1
              a(href="#wiem") Wiem Zine Elabidine
              |  Friendly Functional Programming
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 15:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-wiem
           h1
              a(href="#wiem") Wiem Zine Elabidine
              |  Friendly Functional Programming
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 16:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-miller   
            h1
              a(href="#miller") Devon Miller
              |  Full Stack Development Leveraging Scala.js, ML/NLP and a Mixed Codebase
        div.description.small-3.column  
         div.talk#talk-ratajski
           h1
              a(href="#ratajski") Jarek Ratajski
              |  From Scala to assembly How the JVM works
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
          div.talk#talk-bialy-gawrys
           h1
              a(href="#bialy-gawrys") Łukasz Biały, Piotr Gawryś
              |  Getting work done with Monix
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#empty
             h1
              a(href="#empty")   
              |      
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 18:00
      div.description.small-12.medium-10.large-11.columns Party: Pod Mosteczkiem Pub, Poniatowski Bridge
  header.section-title
    h1 Agenda: Saturday, 21st March
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.time.small-12.medium-2.large-1.columns 10:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-kubuszok   
            h1
              a(href="#kubuszok") Mateusz Kubuszok
              |  Type-class derivation for newcomers
        div.description.small-3.column  
         div.talk#talk-mijic
           h1
              a(href="#mijic") Dejan Dejan Mijic
              |  Declarative concurrency with ZIO STM
        div.description.small-3.column  
          div.talk#talk-schenk
           h1
              a(href="#schenk") Simon Schenk
              |  Building an Effect Runtime
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-gutowski
           h1
              a(href="#gutowski") Michał Gutowski
              |  Introduction to property based testing
    div.row
      div.time.small-12.medium-2.large-1.columns 11:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-kubuszok   
            h1
              a(href="#kubuszok") Mateusz Kubuszok
              |  Type-class derivation for newcomers
        div.description.small-3.column  
         div.talk#talk-mijic
           h1
              a(href="#mijic") Dejan Dejan Mijic
              |  Declarative concurrency with ZIO STM
        div.description.small-3.column  
          div.talk#talk-schenk
           h1
              a(href="#schenk") Simon Schenk
              |  Building an Effect Runtime
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-gutowski
           h1
              a(href="#gutowski") Michał Gutowski
              |  Introduction to property based testing
    div.row
      div.time.small-12.medium-2.large-1.columns 12:00
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-kubuszok   
            h1
              a(href="#kubuszok") Mateusz Kubuszok
              |  Type-class derivation for newcomers
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-szatan
           h1
              a(href="#szatan") Konrad Szatan
              |  Absorb and manipulate your data with Kafka Connect and Kafka Streams
        div.description.small-3.column  
          div.talk#talk-rooding-rosenberg
           h1
              a(href="#rooding-rosenberg") M. Rooding, J. Rosenberg
              |  Building a streaming Stock Market Analysis tool on Kubernetes with Cloudflow
        div.description.small-3.column
          div.talk#talk-gutowski
           h1
              a(href="#gutowski") Michał Gutowski
              |  Introduction to property based testing
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 13:00
      div.description.small-12.medium-10.large-11.columns Lunch break
    div.row
      div.time.small-12.medium-2.large-1.columns 14:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-kubuszok   
            h1
              a(href="#kubuszok") Mateusz Kubuszok
              |  Type-class derivation for newcomers
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-szatan
           h1
              a(href="#szatan") Konrad Szatan
              |  Absorb and manipulate your data with Kafka Connect and Kafka Streams
        div.description.small-3.column  
          div.talk#talk-rooding-rosenberg
           h1
              a(href="#rooding-rosenberg") M. Rooding, J. Rosenberg
              |  Building a streaming Stock Market Analysis tool on Kubernetes with Cloudflow
              br
              |  &nbsp;
        div.description.small-3.column
          div.talk#talk-merritt
           h1
              a(href="#merritt") Alex Merritt
              |  Bringing deep learning models to production with ONNX-Scala
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 15:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#talk-kubuszok   
            h1
              a(href="#kubuszok") Mateusz Kubuszok
              |  Type-class derivation for newcomers
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-szatan
           h1
              a(href="#szatan") Konrad Szatan
              |  Absorb and manipulate your data with Kafka Connect and Kafka Streams
        div.description.small-3.column  
          div.talk#talk-rooding-rosenberg
           h1
              a(href="#rooding-rosenberg") M. Rooding, J. Rosenberg
              |  Building a streaming Stock Market Analysis tool on Kubernetes with Cloudflow
        div.description.small-3.column
          div.talk#talk-merritt
           h1
              a(href="#merritt") Alex Merritt
              |  Bringing deep learning models to production with ONNX-Scala
              br
              |  &nbsp;
    div.row
      div.time.small-12.medium-2.large-1.columns 16:30
      div.small-12.medium-10.large-11.columns
        div.description.small-3.column
          div.talk#empty
             h1
              a(href="#empty")
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
              br
              |  &nbsp;
        div.description.small-3.column  
         div.talk#talk-szatan
           h1
              a(href="#szatan") Konrad Szatan
              |  Absorb and manipulate your data with Kafka Connect and Kafka Streams
        div.description.small-3.column  
          div.talk#talk-rooding-rosenberg
           h1
              a(href="#rooding-rosenberg") M. Rooding, J. Rosenberg
              |  Building a streaming Stock Market Analysis tool on Kubernetes with Cloudflow
        div.description.small-3.column
          div.talk#talk-merritt
           h1
              a(href="#merritt") Alex Merritt
              |  Bringing deep learning models to production with ONNX-Scala
              br
              |  &nbsp;
    div.row.utility
      div.time.small-12.medium-2.large-1.columns 17:30
      div.description.small-12.medium-10.large-11.columns Ending