extends ../pug/templates/layout.jade

block content    
  section#tldr.row
    header.section-title
        h1 TLDR
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns.instructions
        p Dear Scalarians, to make the most out of the event make sure you...
        ol
            li Register on <a href="https://app.evenea.pl/event/scalaronline2020/">Evenea</a>.
            li Join our <a href="https://join.slack.com/t/scalar-conf/shared_invite/zt-efh6lf00-C3qkzS45MJVYac2CQD283g">Slack</a> and check out our channels #announcements, #help, #random, #talks. 
            li Join <a href="https://hopin.to/">Hopin</a> for live streaming and networking sessions. We’ve sent a password to the event to your inbox (Subject: Scalar Online How-to)
            li Fill out the <a href="https://forms.gle/a292af5b3hpiFAYW8">survey</a> about Unconference. 
            li Check out our <a href="https://scalar-conf.com/2020-online.html">website</a>.
            li Enjoy the conference! <3
            li Fill out the feedback form (we’ll send it to your inbox). 
  section#moredetails.row
    a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
        img(src="images/icons/to-top.svg")
        br
        | to top
    header.section-title
        h1 More Details
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns.instructions-detailed
        ol
            li
                div.list-header Registration
                p The price of a ticket is ~$10. Get a ticket via <a href="https://app.evenea.pl/event/scalaronline2020/">Evenea</a>. Tickets will be available until 14 May 2020 (Thursday). 
            li
                div.list-header Slack
                p
                ul
                    li General information about the conference will be posted on the #announcements channel.
                    li The #talks channel is for general discussions about the talks. Please “thread” replies as it will let us keep the conversations organized. Check the “pinned” messages for important high-level announcements. 
                    li The #help channel is dedicated to troubleshooting and resolving any technical issues you might be having. If you can’t reach us on Slack write to us: <a href="mailto:scalar@scalar-conf.com">scalar@scalar-conf.com</a>. 
                    li The #networking-sessions channel is dedicated to any questions about the networking sessions. 
            li
                div.list-header Talks
                p
                ul
                    li Participants can watch presentations on Hopin (Stage). (For the best Hopin experience, we recommend Chrome or Firefox. Please avoid Brave, Safari, and Microsoft IE or Edge). 
                    li We kindly ask you to post questions and comments to the Q&A session available on Hopin (Event chat). 
                    li Hosts will read the questions after the talk. 
                    li Each speaker will be available for chatting during a special Q&A session on Hopin where attendees can talk directly with the speaker (up to 10 people on a camera, others can join as viewers). This special Q&A session will be launched after the presentation and link will be posted on the Hopin chat and in Slack #talks channel. 
                    li After the conference, video recordings of the talks will be available on YouTube.
            li
                div.list-header Networking
                p
                ul
                    li The social part of Scalar always gives us lots of fun and this time we’ll try to experience at least part of it online :)
                    li For random hallway discussions go to one of the Hopin Sessions (hallway, bar, chill-out zone, lunch bar). 
                    li For facilitated networking, take part in one of the organized sessions:
                        p
                        ul
                            li <strong>Pub Quiz: Wheel of Scala Fortune</strong>
                            p Team up with 4 other people and answer questions about Scala and the community. Get a chance to win #PartyParrot & Scalar gadgets and a discount for Akka Typed Fundamentals Training. <link>
                            li <strong>Unconference</strong>
                            p Fill out the <a href="https://forms.gle/CN6nbi2P9vRiMAZA8">survey</a> and suggest any topic you’d like to discuss. Join one of the sessions around the topic and have fun!
            li
                div.list-header Hopin
                p
                ul
                    li Register using the link and password that you have in your inbox (Email subject: Scalar Online - see you in 4 days!). 
                    li If you’re getting 500 error try navigating to hopin’s homepage and back to the registration page. 
                    li Go to Stage (<link>) for the streaming of the talks.  
                    li Use the Event chat for Q&A. 
                    li Go to Sessions (<link>) for random networking or facilitated sessions.
                    li After joining a particular session, you need to click the “Enable audio and video” button (on the top right of the Session) to join a discussion on your camera. There is a limit of people who can be on cameras at the same time. 
                    li You can also take part in the Session as a viewer (watch the discussion and write in Session chat). 
            li
                div.list-header Networking - Pub Quiz (5-6 PM JST | 10-11 AM CEST | 4-5 AM EDT)
                p Join an online Pub Quiz: Wheel of Scala Fortune. Team up with 4 other participants and answer questions about programming in Scala, Scala community and SoftwareMill 😀 The best team wins #PartyParrot and Scalar themed gadgets + 50% discount for the Akka Typed Fundamentals online training. 
            li
                div.list-header Networking - Unconference (10-11 PM JST | 3-4 PM CEST | 9-10 AM EDT)
                p We invite you to join an online Unconference which will be a great opportunity to meet other people and discuss any topics that spark your interest 🤩
                p How does it work? 
                    ul 
                        li You suggest a topic by filling out this survey. 
                        li We group those topics so that you can form groups around similar topic areas. 
                        li During the event we discuss the topics you chose using Sessions (similar to zoom rooms) on hopin.  
            li
                div.list-header The network is the most critical part
                p
                ul
                    li Use the best Internet connection you can - if possible use wire.
                    li Avoid other activities that will steal bandwidth. Don’t start other bandwidth-intensive activities just before, or during, a Session. On your device — and as much as possible, on other computers and devices that share your Internet connection—avoid: large downloads and uploads, streaming video (e.g. Netflix, Hulu, YouTube), cloud backups (e.g. Carbonite, CrashPlan). 
