extends ../pug/templates/layout.jade

block content
  section.news-posts.row
    header.section-title
      h1 Blog
    div.small-10.medium-10.medium-centered.large-10.large-centered.columns

      include blog-posts/3.jade
      include blog-posts/2.jade
      include blog-posts/1.jade