section#call-for-papers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Call for papers
    small Open until Jan 1st 2020. We'll accept speakers on a rolling basis.
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    p We are looking for anything that you think might be interesting for current and future Scala programmers. Are you using Scala in a novel way? Maybe you contribute to a Scala open-source library? Or you are using Scala in production and would like to share your experiences from the field?
    p Our main goal is to give attendees a portion of practical knowledge during the conference and start some interesting discussions at the breaks and the after-party. We wish to inspire people to explore Scala and the Scala ecosystem later at home.
      div.centered-wrapper
        a.button(href="https://docs.google.com/forms/d/1Uyjtk6M9QxXdGolRU0SvhYbDHwKkr3VpRgWX_eKj2CI/viewform") apply now
