section#call-for-papers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Call for papers
    small Open until Jan 31st 2017. We’ll accept speakers on a rolling basis.
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    p We are looking for anything that you think might be interesting for a wider audience and that is Scala related. Maybe you are using Scala in a novel way? Or you wrote an interesting open-source library? Have an experience report from a project you are working on? Or maybe you just want to show what can be done with the Scala language and existing Scala tools.
    p Our main goal is to start some interesting discussions during the breaks and the after party, and inspire people to explore Scala and the Scala ecosystem later at home. Hence we are aiming at 30-minute presentations.
    p We are also looking for longer workshop-style submissions. Advanced workshops will run in parallel to beginner sessions and vice versa, and should take about 90 minutes.
      div.centered-wrapper
        a.button(href="https://docs.google.com/forms/d/e/1FAIpQLScTnyaCZq6WaeDFI_GUWFsV2dfNMLqIE4vRtFh7m1R6wh4JTg/viewform?c=0&w=1") apply now
