div.header.row
  div.small-12.medium-12.large-12.columns
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="http://scalar-conf.com/")
              img(src="images/scalar-logo.svg")
        li.toggle-topbar.menu-icon
          a(href="")

      div.top-bar-section
        ul.right
          li
            a(data-scroll, href="http://www.scalar-conf.com#news") News
          li
            a(data-scroll, href="http://www.scalar-conf.com#blog") Blog
          li
            a(data-scroll, href="http://www.scalar-conf.com#agenda") Agenda
          li
            a(data-scroll, href="http://www.scalar-conf.com#venue") Venue
          li
            a(data-scroll, href="http://www.scalar-conf.com#souvenirs") Souvenirs
          li
            a(data-scroll, href="http://www.scalar-conf.com#organizer") Team
          li
            a(data-scroll, href="http://www.scalar-conf.com/#sponsors") Sponsors
          li
            a(href="http://scalar-conf.com/2015/") 2015
          li
            a(href="http://scalar-conf.com/2014/") 2014
          li.tweet-btn
            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/", data-text="Check out #Scala @scalarconf on 8th October 2020 in Warsaw, Poland!", data-hashtags="scalarconf") Tweet