section.hero.row
  div.small-12.medium-12.large-12.columns
    h2 Best&nbsp;programmers.   Deep&nbsp;knowledge.   Current&nbsp;tech&nbsp;trends.
    h1(itemprop="description") Scalar&nbsp;&mdash; The Stream[ 
      span.highlight Scala 
      | ] of knowledge
  div.conference-data.centered-wrapper.small-12.medium-12.large-12.columns
    time(itemprop="startDate", datetime="2017-04-07")
      img(src="images/icons/calendar.svg")
      |&nbsp;7-8.04.2017
    span(itemprop="location")
      img(src="images/icons/map.svg")
      |&nbsp;Warsaw,&nbsp;Poland