section.hero.row
  div.small-12.medium-12.large-12.columns
    h2 Best&nbsp;programmers.   Deep&nbsp;knowledge.   Current&nbsp;tech&nbsp;trends.
    h1(itemprop="description") Scalar&nbsp;&mdash; A Free-to-attend 
      span.highlight Scala 
      | Conference
  div.conference-data.centered-wrapper.small-12.medium-12.large-12.columns
    time(itemprop="startDate", datetime="2014-04-05")
      img(src="images/icons/calendar.svg")
      |&nbsp;16.04.2016
    span(itemprop="location")
      img(src="images/icons/map.svg")
      |&nbsp;Warsaw,&nbsp;Poland