section.hero.row
  div.small-12.medium-12.large-12.columns.with-bottom-border
    h2 Get ready for a comeback of Scalar in 2023!
    div(style="width: 100%; display: flex; align-items: center; justify-content: center;")
      a(href="https://scalar-conf.com")
        img(src="images/scalar-logo.svg", style="height: 150px; margin: 10px")
