section.hero.row
  div.small-12.medium-12.large-12.columns
    h2 One of the biggest Scala conference in Europe turns into a FP workshops-driven event
    h1(itemprop="description") Scalar goes&nbsp;
      span.highlight HANDS-ON
  div.conference-data.centered-wrapper.small-12.medium-12.large-12.columns
    time(itemprop="startDate", datetime="2020-03-19")
      img(src="images/icons/calendar.svg")
      |&nbsp;19-21.03.2020
    span(itemprop="location")
      img(src="images/icons/map.svg")
      |&nbsp;Warsaw,&nbsp;Poland
    div.small-11.small-centered.medium-11.medium-centered.large-9.large-centered.columns
      br
      br
      .video-wrapper
        <iframe width="560" height="315" src="https://www.youtube.com/embed/agvMU9fg4eI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
