section.hero.row
  div.small-12.medium-12.large-12.columns.with-bottom-border
    h2 Prepare for something truly exciting from the Scalar team in 2022!
    div(style="width: 100%; display: flex; align-items: center; justify-content: center;")
      a(href="https://typeville.io")
        img(src="images/typeville.png", style="height: 150px; margin: 10px")
    h1(itemprop="description") Scalar enters the TypeVille world
      br
      time(itemprop="startDate", datetime="2022-04-19")
        span Save the date:&nbsp;
        span.highlight 19-23 April 2022
  div.small-12.medium-12.large-12.columns
    h2 This time we dive into type safety as the main theme of the event welcoming Scala, Java, Haskell, Kotlin, Rust, TypeScript, Swift and more!
    h2 <a class="link-underline" href="https://typeville.io">Visit the typeville.io website for more details!</a>
    h2 <a class="link-underline" href="https://docs.google.com/forms/d/1MYYmZUzZnOytqlCcCIyM6D5Bc5TXAMFheYsYKzTPJNc/edit">C4P is already open!</a>
