section.hero.row
  div.small-12.medium-12.large-12.columns
    h2 Look what we have for you in 2020
    h1(itemprop="description") TWO EVENTS
      br
      span.highlight <a href="http://scalar-conf.com/events-2020.html">ONLINE Conference (15 May 2020)
  div.small-12.medium-12.large-12.columns
    h2 <a href="https://docs.google.com/forms/d/e/1FAIpQLSfzR1d_pqGGr-VSNNlwK_GTe4l0gG3aWdjy-14iixJaRaNUEQ/viewform">JOIN C4P for the conference&nbsp;
      br
    h1 <a href="http://scalar-conf.com/2020-workshops.html">Workshops (8-10 October 2020)
  div.small-12.medium-12.large-12.columns
    h2 Workshops C4P is closed
    |&nbsp;
    //time(itemprop="startDate", datetime="2020-10-08")
      //img(src="images/icons/calendar.svg")
    //span(itemprop="location")
      //img(src="images/icons/map.svg")
      //|&nbsp;Warsaw, Adgar Ochota Training Centre, Jerozolimskie Ave. 181B, Poland&nbsp;
    div.small-11.small-centered.medium-11.medium-centered.large-9.large-centered.columns
      br
      br
      .video-wrapper
        <iframe width="560" height="315" src="https://www.youtube.com/embed/agvMU9fg4eI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
