extends ../pug/templates/layout

block content
  include header
  include hero
  include newsletters-form
  include sponsors-slider
  include speakers
  include venue
  include afterparty
  include souvenir
  include past-editions
  include sponsors