extends ../pug/templates/layout.jade

block content
  include hero.jade
  include description-section.jade
  include newsletters-form.jade
  //include sponsors-slider.jade
  include register.jade
  //include agenda
  include call-for-papers.jade
  //include speakers.jade
  //include afterparty
  //include venue.jade
  //include sponsors.jade
