extends ../pug/templates/layout

block content
  include hero
  include newsletters-form
  include sponsors-slider
  include register
  include agenda
  // include call-for-papers
  include speakers
  // include afterparty
  include venue
  include sponsors
