section#newsletters-form.row
  div.small-12.medium-12.large-12.columns
    div(style="width: 100%; display: flex; align-items: center; justify-content: center;")
      a(href="https://scalar-conf.com/" target="_blank")
        button Join Scalar