extends ../pug/templates/layout.jade

block content
  section.news-posts.row
    header.section-title
      h1 News
    div.small-12.medium-8.medium-centered.large-6.large-centered.columns

      include news-posts/4.jade
      include news-posts/3.jade
      include news-posts/2.jade
      include news-posts/1.jade