section#newsletters-form.row
  div.small-12.medium-12.large-12.columns
    div(style="width: 100%; display: flex; align-items: center; justify-content: center;")
      a(href="https://softwaremill.us2.list-manage.com/subscribe?u=ba834c562d82d9aba5eaf90ba&id=c894eeca2c", target="_blank")
        button
          | Sign up for updates
