section#register.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1(id="register") Register
    small Only 150 zł + VAT (about 36 euro/42 USD) for the conference and workshops, 3600 zł + VAT (about 840 euro/950 USD) for 'Advanced Type Mechanics' training with Jon Pretty
  div.centered-wrapper
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      p Same as last year, there's a small registration fee to cover some of the organizational costs. In return, we'll deliver the best Scalar so far! You can also register on
       a(href="https://scalar2019.evenea.pl")  Evenea's site.
    iframe(src="https://scalar2019.evenea.pl?out=1&source=event_iframe", width="100%", scrolling="no", style="border: 0;")
