section#register.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1(id="register") Register
    p 2020 brings a new format of Scalar. We are diving deep into practical know-how and getting our hands dirty. Join customized three-days Functional Programming tracks!
  div.centered-wrapper
    div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      p The registration fee covers some of the organizational costs. In return, we'll deliver the best Scalar so far! You can also register on
       a(href="https://evenea.pl/event/scalar2020/")  <b>Evenea's site</b>.
    iframe(src="https://evenea.pl/event/scalar2020/?out=1&source=event_iframe", width="100%", scrolling="no", style="border: 0;")
