- var section_name = "souvenirs"

extends ../pug/templates/section-layout

block section-content
  div.row
   div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    header.section-title
      h1 Souvenirs
      p Save some memories about Scalar 2016 and help homeless animals at the same time!  
      p This year you have a chance to support selected NGOs by transfering 40&nbsp;PLN or 25&nbsp;PLN directly to their account. As a gratitude from us you'll recieve an awesome Scalar t-shirt or a mug!
      a(href="http://scalar-conf.com/support.html", class="read-more button") learn more
    
    div.row.mug-row
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src='images/souvenirs/blue-mug.png')
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src='images/souvenirs/light-blue-mug.png')
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src='images/souvenirs/red-mug.png')
    
    div.shirt-row.row
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src="images/souvenirs/man-tshirt.png")
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src="images/souvenirs/woman-tshirt.png")
      div.small-4.medium-4.large-4.columns
        a(href="http://scalar-conf.com/support.html")
          img(src="images/souvenirs/adform-tshirt.png")