section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
        div.single-speaker
          div.single-speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.single-speaker-bio
            h2#goes John A. De Goes
            h3(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | A mathematician by training but a software engineer by vocation, John A. De Goes has been professionally writing software for more than 20 years. John has contributed to dozens of open source projects written in functional programming languages. In addition to speaking at Strata, OSCON, BigData TechCon, NEScala, and many other conferences, John also published a variety of books on programming. Currently, John consults at De Goes Consulting, a consultancy committed to solving hard business problems using the power of pure functional programming.
              div.small-12.medium-8.medium-centered.large-8.large-centered.columns
        div.single-speaker
          div.single-speaker-photo
            img(src="images/speakers/szulc.png")
          div.single-speaker-bio
            h2#szulc Paweł Szulc
            p
              | Paweł is a Software Engineer, Programmer, Developer, experienced with Java ecosystem. Currently having tons of fun at work with Scala, Akka, Apache Spark and distributed cloud computing.
              div.small-12.medium-8.medium-centered.large-8.large-centered.columns
       div.single-speaker
         div.single-speaker-photo
           img(src="images/speakers/wiem.png")
         div.single-speaker-bio
           h2#wiem Wiem Zine El Abidine
           p
             | An enthusiastic functional programmer from Tunisia, working as a Data Engineer at Ebiznext, Paris.
            div.small-12.medium-8.medium-centered.large-8.large-centered.columns
       div.single-speaker
         div.single-speaker-photo
           img(src="images/speakers/kubuszok.png")
         div.single-speaker-bio
           h2#kubuszok Mateusz Kubuszok
           p
             | A rank and file programmer, who loves math and hates difficult things. After searching for inner peace and tranquility finally settled down with Scala. Codes, blogs and thinks how to make things easier for himself without making things harder for everyone else.
             div.small-12.medium-8.medium-centered.large-8.large-centered.columns
       div.single-speaker
         div.single-speaker-photo
           img(src="images/speakers/kozlowski.png")
         div.single-speaker-bio
           h2#kozlowski Jakub Kozłowski
           p
             | A young Scala hAkker who spends his days writing code, running and lifting in the late evenings. In his free time, if he has any, Jakub explores his other interests, which include coffee, playing bass and watching outstanding TV series. He works at Ocado Technology, where he develops the software for the world's most advanced warehouses, powered by functional programming and distributed systems.
             div.small-12.medium-8.medium-centered.large-8.large-centered.columns
       div.single-speaker
         div.single-speaker-photo
           img(src="images/speakers/pretty.png")
         div.single-speaker-bio
           h2#pretty Jon Pretty
           p
             | Jon has been having fun riding the bleeding edge of Scala for nearly fifteen years, and he's not finished yet. When he's not travelling the world attending Scala conferences, or organizing Scala World, he devotes his time to a variety of open-source Scala tools and libraries, and providing professional training services to the Scala industry.
             div.small-12.medium-8.medium-centered.large-8.large-centered.columns
      div.single-speaker
        div.single-speaker-photo
          img(src="images/speakers/ratajski.png")
        div.single-speaker-bio
          h2#ratajski Jarek Ratajski
          p
            | An architect, wizard, coder.
            div.small-12.medium-8.medium-centered.large-8.large-centered.columns
