section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gurnell.png")
          div.speaker-bio
            h2#gurnell Dave Gurnell
            a(href="https://twitter.com/davegurnell").speaker-link @davegurnell
            p
              | Dave is a developer, trainer, and partner at 
              a(href="http://underscore.io") Underscore
              |. He has spent over a decade creating software using functional programming, and has authored and co-authored several books about Scala. His current projects include 
              a(href="http://github.com/underscoreio/shapeless-guide") taking short trips in his space ship 
              | and  
              a(href="http://meowsynth.com", target="_blank") creating synthesizers using cats
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/seeberger.png")
          div.speaker-bio
            h2#seeberger Heiko Seeberger
            a(href="https://twitter.com/hseeberger").speaker-link @hseeberger
            p
              | Heiko Seeberger is Fellow at codecentric and an internationally renowned expert on Scala and Akka. He has more than 20 years of experience in consulting and software development. Heiko tweets under @hseeberger and blogs under 
              a(href="http://heikoseeberger.de", target="_blank") heikoseeberger.de
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/szulc.png")
          div.speaker-bio
            h2#szulc Paweł Szulc
            a(href="https://twitter.com/rabbitonweb").speaker-link @rabbitonweb
            p
              | Pawel Szulc is primarily a programmer. Always was and always will be. Experienced professionally in JVM ecosystem, currently having tons of fun with Scala and Haskell. Humble apprentice of Functional Programming. Runs a blog 
              a(href="http://rabbitonweb.com", target="_blank") rabbitonweb.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/leontiev.png")
          div.speaker-bio
            h2#leontiev George Leontiev
            a(href="https://twitter.com/folone", target="_blank").speaker-link @folone
            p
              | George is an engineer at SoundCloud where he's taking care of highload systems that power user feeds, notifications, and social interaction graph. In his spare time he likes exploring the world of type-level programming and does distance running.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/petronella.jpg")
          div.speaker-bio
            h2#petronella Gabriele Petronella
            a(href="https://twitter.com/gabro27", target="_blank").speaker-link @gabro27
            p
              | Gabriele is co-founder of buildo, where he's a software engineer, working with Scala, JavaScript and Swift. He founded the Scala User Group in Milan and he's an organizer of Scala Italy, the Italian conference on Scala. He holds a MSc in Computer Engineer from Politecnico di Milano and a MSc in Computer Science from University of Illinois at Chicago, where he also worked as a Research Assistant. In the - rare - free time, you'll find him on a plane or at the basketball court.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/guzik.jpg")
          div.speaker-bio
            h2#guzik Piotr Guzik
            a(href="https://twitter.com/guzik_io", target="_blank").speaker-link @guzik_io
            p
              | Piotr Guzik - Big Data Engineer @Allegro and Consultant @GetInData. I am using Spark Streaming, Kafka and Scala during my daily work. From time to time I am a speaker at conferences and workshops. In my free time enjoy travelling around the world with my fiancee and camera.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/sfregola.png")
          div.speaker-bio
            h2#sfregola Daniela Sfregola
            a(href="https://twitter.com/DanielaSfregola").speaker-link @DanielaSfregola
            p
              | Daniela Sfregola is a Software Consultant based in London, UK. She has worked as Java developer before moving towards Scala. She is an active contributor to the Scala Community and a passionate blogger at 
              a(href="danielasfregola.com", target="_blank") danielasfregola.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pustelnik.png")
          div.speaker-bio
            h2#pustelnik Jan Pustelnik
            a(href="https://twitter.com/gosubpl", target="_blank").speaker-link @gosubpl
            p
              | Technical Architect at GFT Poland and Lecturer at the University of Łódź by day, sporadic akka project contributor by night. Interested in how software works on low level, he does not find big frameworks appealing. This is the main reason why he loves Scala, a very expressive language that allows one to build right abstractions quickly without losing control over details. Jan is an active member of JUG Łódź and occasional conference speaker. Currently he is busy with a Big Data project for one of major investment banks. In his spare time he loves to dust-off some old issue of computer science journal only to find out that everything has already been invented before he even was born.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.speaker-bio
            h2#goes John De Goes
            a(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | John is an author, speaker, entrepreneur, and long-time software architect and engineer. Loves startups, technology, science, software engineering, fitness, and my family. In addition to my consulting business, he's currently CTO at SlamData, a company building cool open source software for NoSQL analytics.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/renato.png")
          div.speaker-bio
            h2#cavalcanti Renato Cavalcanti
            a(href="http://twitter.com/renatocaval", target="_blank").speaker-link @renatocaval
            p
              | Renato Cavalcanti is an independent Scala developer based in Belgium. Scala aficionado since 2009, he has been hacking in Scala and related technologies for fun and profit. He's the founder of BeScala, co-founder of Strong[Typed]​ and author of Fun.CQRS.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gorywoda.png")
          div.speaker-bio
            h2#gorywoda Maciej Gorywoda
            a(href="https://twitter.com/makingthematrix", target="_blank").speaker-link @makingthematrix
            p
              | Maciek is a Scala and Android developer at Wire in Berlin. AI enthusiast, interested in practical applications of artificial neural networks, game theory, Scrum, riding bicycles around the world, and how to stay sane while pursuing a bunch of other interests. He advocates healthy minimalism and keeping one's code clean and simple.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kasas.png")
          div.speaker-bio
            h2#kasas Valentin Kasas
            a(href="http://twitter.com/ValentinKasas", target="_blank").speaker-link @ValentinKasas
            p
              | After many years using Java (and loving it), I discovered Scala, at DevoxxFR in 2012. That was a blast. Since then, I became rather obsessed with that language and sought every opportunity to learn more about it, and about FP in general. I've learned what a monad is, and then I learned not to worry about what a monad is. I've learned about higher-kinded types and all sort of bizarre things that only people who knew SI-2712 by its number usually care about. Now, I thrive to share my enthusiasm about Scala with more and more people, and to make more friends by not talking too much about monads. Also, I wear suits.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/westheide.png")
          div.speaker-bio
            h2#westheide Daniel Westheide
            a(href="https://twitter.com/kaffeecoder", target="_blank").speaker-link @kaffeecoder
            p
              | Daniel Westheide is a senior consultant at innoQ Deutschland GmbH. He is particularly interested in functional programming and distributed systems and published the blog series and e-book “The Neophyte’s Guide to Scala”.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/lattuada.png")
          div.speaker-bio
            h2#lattuada Andrea Lattuada
            a(href="https://twitter.com/utaal", target="_blank").speaker-link @utaal
            p
              | Andrea is an eclectic software engineer with a passion for programming language design and well crafted software; he co-founded a consultancy company, where he leveraged Scala to develop stable platforms that also enable rapid iteration. He has recently earned a MSc degree in Computer Science with a focus on distributed systems at ETH Zürich, Switzerland. His main research interests are distributed coordination, processing, and data management.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/will.png")
          div.speaker-bio
            h2#will Niko Will
            a(href="https://twitter.com/n1ko_w1ll", target="_blank").speaker-link @n1ko_w1ll
            p
              | Niko Will is a consultant at innoQ and develops software for the JVM. He focuses on designing and implementing highly scalable, distributed software systems. Recently he is dedicated to functional and reactive technologies like Scala, Play and Akka as well as event driven architectures.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/stan.png")
          div.speaker-bio
            h2#stan Ionuț G. Stan
            a(href="https://twitter.com/igstan", target="_blank").speaker-link @igstan
            p
              | Ionuț is a software developer at Eloquentix, where he works on backend services using Scala. His current interests revolve around functional programming techniques, programming languages and compilers.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kogut.png")
          div.speaker-bio
            h2#kogut Tomasz Kogut
            a(href="https://twitter.com/almendar", target="_blank").speaker-link @almendar
            p
              | I've done a lot of different programming from low-level kernel modules written in C/C++ through telecommunication system written in Java EE. Now I settled on using Scala which is my language of choice since 2011. I'm fascinated by new ways of delivering software brought by the functional paradigm. At my day job I work in the research department of Adform as Software/Data Engineer. In my team we’re trying to build the best forecasting service there is on the market for publishers.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/johnson.png")
          div.speaker-bio
            h2#johnson Alan Johnson
            a(href="https://twitter.com/acjay", target="_blank").speaker-link @acjay
            p
              | Engineering Lead for Auctions at Artsy. We build systems for helping people buy and sell art at auctions houses we partner with. I’ve been developing software for 20 years, ever since learning Z80 assembly to program my TI-83 at age 12. I specialize in product engineering and systems architecture. I love working in Scala because I think it’s on the cutting edge of letting people write code that is performant, safe, and beautiful, all at once.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ludwikowski.jpg")
          div.speaker-bio
            h2#ludwikowski Andrzej Ludwikowski
            a(href="http://aludwikowski.blogspot.com/", target="_blank").speaker-link http://aludwikowski.blogspot.com/
            p
              | Miller at SoftwareMill. A devotee of DDD, Event Sourcing and Polyglot Persistence. Continuously chasing the dream of a perfect software architecture, fulfilling all of the requirements and trends, even the strangest ones.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/owczarek.png")
          div.speaker-bio
            h2#owczarek Kamil Owczarek
            a(href="https://github.com/saevel", target="_blank").speaker-link https://github.com/saevel
            p
              | Scala / Big Data Developer. Currently @ IMS Health. Specializes in Big Data projects involving Data Warehousing & Machine Learning. Active member of JUG Łódź. Professional motto: "Data is always more valuable that you recognize it to be".
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ratajski.png")
          div.speaker-bio
            h2#ratajski Jarek Ratajski
            a(href="https://twitter.com/jarek000000", target="_blank").speaker-link @jarek000000
            p
              | Java Developer since 1999. I love programming since my first line of code I did on the C64 in Basic. I have 15 Years experience developing JEE software working for various companies and projects. Currently I am working for CSS Versicherung in Luzern. I am Java developer  during the days and Scala/ScalaJS at nights. I like to present my experience in public – so far speaked at conferences such as Devoxx, Voxxed Days, JUGs, Geecon,  JdayLviv etc. I like to do shows - presenting the things just as they work – with live coding, demos and hacking.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/matejczyk.png")
          div.speaker-bio
            h2#matejczyk Szymon Matejczyk
            a(href="https://twitter.com/szymonmatejczyk", target="_blank").speaker-link @szymonmatejczyk
            p
              | Data Scientist @ Growbots, OS contributor, polyglot programmer biased towards Scala. Fan of distributed systems and graphs. Working on everything from Spark ETLs to ML models to data visualization.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/matloka.png")
          div.speaker-bio
            h2#matloka Michał Matłoka
            a(href="https://twitter.com/mmatloka", target="_blank").speaker-link @mmatloka 
            p
              | Through his career Michał worked with C, Java, forgotten lands of Java EE, Spring, Scala and Big data. He committed a crime of writing a Java EE book, which may hunt him for the rest of his life. He is an open source contributor and a winner of the JBoss Community Recognition Award in 2013 for his contributions to ShrinkWrap. He is currently one of the 40 CEOs at SoftwareMill, a fully distributed company with no main office and a completely flat organization structure. He presented on GeeCON Kraków & Prague, Devoxx Poland, Confitura and other events.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/matuszak.png")
          div.speaker-bio
            h2#matuszak Marcin Matuszak
            a(href="https://twitter.com/marcinmatuszak", target="_blank").speaker-link @marcinmatuszak
            p
              | Marcin is an enthusiastic functional programmer from Wrocław. Working for Iterato.rs 
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/raam.png")
          div.speaker-bio
            h2#raam Raam Rosh Hai
            a(href="https://twitter.com/raam86", target="_blank").speaker-link @raam86
            p
              | Big Data Engineer at FindHotel
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kaeser.png")
          div.speaker-bio
            h2#kaeser Justin Kaeser
            a(href="https://twitter.com/ebenwert", target="_blank").speaker-link @ebenwert
            p
              | Justin always seems to end up tweaking the tooling rather than doing his actual job. Unsurprisingly, he ended up working at JetBrains, improving the sbt support for the IntelliJ Scala plugin.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/klaehn.png")
          div.speaker-bio
            h2#klaehn Rüdiger Klaehn
            a(href="https://twitter.com/klaehnr", target="_blank").speaker-link @klaehnr
            p
              | Functional programmer at actyx.io. Maintainer of the typelevel libraries spire and algebra. Significant contributions to the scala collections data structures (Set and Map)
