section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gurnell.png")
          div.speaker-bio
            h2 Dave Gurnell
            a(href="https://twitter.com/davegurnell").speaker-link @davegurnell
            p
              | Dave is a developer, trainer, and partner at 
              a(href="http://underscore.io") Underscore
              |. He has spent over a decade creating software using functional programming, and has authored and co-authored several books about Scala. His current projects include 
              a(href="http://github.com/underscoreio/shapeless-guide") taking short trips in his space ship 
              | and  
              a(href="http://meowsynth.com") creating synthesizers using cats
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/seeberger.png")
          div.speaker-bio
            h2 Heiko Seeberger
            a(href="https://twitter.com/hseeberger").speaker-link @hseeberger
            p
              | Heiko Seeberger is Fellow at codecentric and an internationally renowned expert on Scala and Akka. He has more than 20 years of experience in consulting and software development. Heiko tweets under @hseeberger and blogs under 
              a(href="http://heikoseeberger.de") heikoseeberger.de
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/szulc.png")
          div.speaker-bio
            h2 Paweł Szulc
            a(href="https://twitter.com/rabbitonweb").speaker-link @rabbitonweb
            p
              | Pawel Szulc is primarily a programmer. Always was and always will be. Experienced professionally in JVM ecosystem, currently having tons of fun with Scala and Haskell. Humble apprentice of Functional Programming. Runs a blog 
              a(href="http://rabbitonweb.com") rabbitonweb.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/leontiev.png")
          div.speaker-bio
            h2 George Leontiev
            a(href="https://twitter.com/folone").speaker-link @folone
            p
              | George is an engineer at SoundCloud where he's taking care of highload systems that power user feeds, notifications, and social interaction graph. In his spare time he likes exploring the world of type-level programming and does distance running.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/petronella.jpg")
          div.speaker-bio
            h2 Gabriele Petronella
            a(href="https://twitter.com/gabro27").speaker-link @gabro27
            p
              | Gabriele is co-founder of buildo, where he's a software engineer, working with Scala, JavaScript and Swift. He founded the Scala User Group in Milan and he's an organizer of Scala Italy, the Italian conference on Scala. He holds a MSc in Computer Engineer from Politecnico di Milano and a MSc in Computer Science from University of Illinois at Chicago, where he also worked as a Research Assistant. In the - rare - free time, you'll find him on a plane or at the basketball court.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/guzik.jpg")
          div.speaker-bio
            h2 Piotr Guzik
            a(href="https://twitter.com/guzik_io").speaker-link @guzik_io
            p
              | Piotr Guzik - Big Data Engineer @Allegro and Consultant @GetInData. I am using Spark Streaming, Kafka and Scala during my daily work. From time to time I am a speaker at conferences and workshops. In my free time enjoy travelling around the world with my fiancee and camera.
