section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
        div.single-speaker
          div.single-speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.single-speaker-bio
            h2#goes John A. De Goes
            h3(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | A mathematician by training but a software engineer by vocation, John A. De Goes has been professionally writing software for more than 20 years. John has contributed to dozens of open source projects written in functional programming languages. In addition to speaking at Strata, OSCON, BigData TechCon, NEScala, and many other conferences, John also published a variety of books on programming. Currently, John consults at De Goes Consulting, a consultancy committed to solving hard business problems using the power of pure functional programming.
              div.small-12.medium-8.medium-centered.large-8.large-centered.columns
        div.single-speaker
          div.single-speaker-photo
            img(src="images/speakers/szulc.png")
          div.single-speaker-bio
            h2#szulc Paweł Szulc
            p
              | Paweł is a Software Engineer, Programmer, Developer, experienced with Java ecosystem. Currently having tons of fun at work with Scala, Akka, Apache Spark and distributed cloud computing.
              div.small-12.medium-8.medium-centered.large-8.large-centered.columns
