section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gurnell.png")
          div.speaker-bio
            h2#gurnell Dave Gurnell
            a(href="https://twitter.com/davegurnell").speaker-link @davegurnell
            p
              |Dave is a developer, trainer, and partner at 
              a(href="http://underscore.io") Underscore
              |. He has spent over a decade programming, speaking at conferences, and writing books on functional programming. In his spare time he enjoys 
              a(href="http://cartographer.io") making maps
              |, 
              a(href="http://underscore.io/books/scala-with-cats") playing with cats
              |, and 
              a(href="http://underscore.io/books/shapeless-guide") taking short trips in his space ship
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/szulc.png")
          div.speaker-bio
            h2#szulc Paweł Szulc
            a(href="https://twitter.com/rabbitonweb").speaker-link @rabbitonweb
            p
              | Pawel Szulc is primarily a programmer. Always was and always will be. Experienced professionally in JVM ecosystem, currently having tons of fun with Scala and Haskell. Humble apprentice of Functional Programming. Runs a blog 
              a(href="http://rabbitonweb.com", target="_blank") rabbitonweb.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.speaker-bio
            h2#goes John De Goes
            a(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | John A. De Goes has been functional programming for more than seven years at multiple companies, and has assembled world-renowned Scala and PureScript engineering teams, trained new developers in Scala and PureScript, and developed several successful open source FP projects. Known for his ability to take very complex concepts and explain them simply, John has taught numerous workshops and classes, including several highly-regarded workshops on Scala and PureScript. John moonlights as an instructor for LambdaConf, but his primary job is Chief Technology Officer of SlamData, an open source software company using pure functional programming to redefine analytics for modern data.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ciesielski.jpg")
          div.speaker-bio
            h2#ciesielski Krzysztof Ciesielski
            a(href="https://twitter.com/kpciesielski").speaker-link @kpciesielski
            p
              | Software engineer, OSS contributor and conference speaker. Working on various projects for SoftwareMill using Scala since over 5 years, Krzysiek never stops exploring new avenues of reactive and functional programming. Passionate about principled design. To get some rest from software, Krzysiek enjoys reading philosophy and science fiction, as well as bouldering.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/matuszak.png")
          div.speaker-bio
            h2#matuszak Marcin Matuszak
            a(href="https://twitter.com/marcinmatuszak").speaker-link @marcinmatuszak
            p
              | Marcin is an enthusiastic functional programmer from Wrocław. Working as a Data Engineer at Ryanair. His recent interest is a mix of machine learning and functional programming.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/uvarova.jpg")
          div.speaker-bio
            h2#uvarova Inna Uvarova
            a(href="http://pw-sat.pl/en/home-page/").speaker-link pw-sat2
            p
              | Inna is currently a PhD candidate at Warsaw University of Technology (WUT), and has since 2013 been the project manager of the student satellite project PW-Sat2. She graduated with a master's degree from the Faculty of Power and Aeronautical Engineering at WUT where she specialized in space systems engineering. She has been an active member of Students' Space Association at WUT since 2006. Inna was an aviation personnel trainer and examiner for 3 years in the field of radio-communication and navigation equipment, at Aviation High School No. 9 in Warsw. In 2013 Inna became the first ESA ESERO-PL project manager at Copernicus Science Centre. Since May 2016 she has been the Business Development Manager at the Space Division of Future Processing.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/grajek.jpg")
          div.speaker-bio
            h2#grajek Krzysztof Grajek
            a(href="https://twitter.com/grajo").speaker-link @grajo
            p
              | Programmer, father and occasional blogger. SoftwareMill's contractor for over 6 years, day to day developing applications for financial institutions and doing some machine learning fun on the side.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kasas.png")
          div.speaker-bio
            h2#kasas Valentin Kasas
            a(href="https://twitter.com/ValentinKasas").speaker-link @ValentinKasas
            p
              | Valentin has come a long way from C++ programming on little machines with 4 MB of unmanaged memory to big clusters with terabytes of RAM. Along the way, he progressively abandoned his old imperative habits to embrace the functional way - a journey that seems to never come to an end
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pretty.png")
          div.speaker-bio
            h2#pretty Jon Pretty
            a(href="https://twitter.com/pretty").speaker-link @pretty
            p
              | Jon has been having fun riding the bleeding edge of Scala for over a decade, and he's not finished yet. While he's not travelling the world attending Scala conferences, or organizing Scala World, Jon spends his time working on a variety of open-source Scala libraries, and providing professional Scala training services.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/birchall.png")
          div.speaker-bio
            h2#birchall Chris Birchall
            a(href="https://twitter.com/cbirchall").speaker-link @cbirchall
            p
              | Chris is a principal engineer at OVO Energy in London and the author of the ScalaCache library.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/grebennikov.png")
          div.speaker-bio
            h2#grebennikov Roman Grebennikov
            a(href="https://twitter.com/public_void_grv").speaker-link @public_void_grv
            p
              | Roman Grebennikov is a passionate software developer from Russia with hands-on experience in software development, JVM, high performance computation and algorithmic research. During last years he has focused on delivery of functional programming
              principles and practices to real-world data analysis and machine-learning projects.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/bonetti.png")
          div.speaker-bio
            h2#bonetti Stefano Bonetti
            a(href="https://twitter.com/svez_faz").speaker-link @svez_faz
            p
              | Stefano is a Staff Software Engineer working for HomeAway in London, UK. He has been developing large scale backend systems within the cozy boundaries of the JVM for a few years, and he has recently become passionate about the Scala ecosystem - especially all things Akka. He has contributed to Akka, Akka HTTP and Alpakka codebases. In 2017 he delivered talks at Reactive Summit, Scala.IO and Codemotion Madrid.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/przewoznik.png")
          div.speaker-bio
            h2#przewoznik Maciej Przewoźnik
            a(href="https://www.linkedin.com/in/maciej-przewoznik-b441a41/").speaker-link @maciej-przewoznik
            p
              | Maciej Przewoźnik is a Senior Software Engineer at 9LivesData, working with NEC Laboratories America researchers to bring innovative Machine Learning/Big Data algorithms to the global market. Previously, he worked on an enterprise NEC's HYDRAstor. In total, he has a decade of professional experience in development, testing and troubleshooting complex applications.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pustelnik.png")
          div.speaker-bio
            h2#pustelnik Jan Pustelnik
            a(href="https://twitter.com/gosubpl").speaker-link @gosubpl
            p
              | Software Engineer at Actyx by day, sporadic Akka and Dotty projects contributor by night. Interested in how software works on low level, he does not find big frameworks appealing. This is the main reason why he loves Scala, a very expressive language that allows one to build right abstractions quickly without losing control over details. Jan is an active member of JUG Łódź and occasional conference speaker. In his spare time he loves to dust-off some old issue of computer science journal only to find out that everything has already been invented before he even was born.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/jacobowitz.png")
          div.speaker-bio
            h2#jacobowitz Luka Jacobowitz
            a(href="https://twitter.com/LukaJacobowitz").speaker-link @LukaJacobowitz
            p
              | Luka Jacobowitz is a functional programmer from Germany in love with finding great abstractions to engineering problems. He's also a maintainer of several typelevel projects, including Cats and OutWatch and seeks to make learning of pure functional programming as easy as possible.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gosk.png")
          div.speaker-bio
            h2#gosk Marcin Gosk
            a(href="https://twitter.com/mgosk").speaker-link @mgosk
            p
              | Scala developer, creator of various applications, from simple web apps to complicated data mining systems. Blockchain technology passionate and evangelist.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/bernhardt.png")
          div.speaker-bio
            h2#bernhardt Manuel Bernhardt
            a(href="https://twitter.com/elmanu").speaker-link @elmanu
            p
              | Manuel is a passionate software engineer, author, speaker, consultant and community leader. Since 2008, he has guided and trained enterprise teams on the transformation to distributed computing, focused primarily on production systems built with Scala, Akka, and Play Framework. When he isn't writing books on computing from his home in Vienna, you can find Manuel at various conferences and meet ups around the globe, where he will be happy to discuss his experiences over a good cup of coffee or a glass of Pinot Noir.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/jankiewicz.png")
          div.speaker-bio
            h2#jankiewicz Bartosz Jankiewicz
            a(href="https://twitter.com/oborygen").speaker-link @oborygen
            p
              | I'm a technical team leader at Ocado Technology working with the team of great devlopers. We are working on the next generation e-commerce platform for Ocado Group using Scala. I've been a contributor to Open Source projects such as Reactive Neo, Phantom DSL. I have been working with students research groups at Technical University in Wroclaw presenting various topics. I was a presenter at Scalapolis and Code Forward.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ratajski.png")
          div.speaker-bio
            h2#ratajski Jarek Ratajski
            a(href="https://twitter.com/jarek000000").speaker-link @jarek000000
            p
              | Commodore 64 programmer.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pitula.png")
          div.speaker-bio
            h2#pitula Wojciech Pituła
            a(href="https://twitter.com/Krever01").speaker-link @Krever01
            p
              | I'm a software developer focused on solving problems, mostly with Scala, Spark and web services. In my free time, a try to pay back to the community by contributing to open source. Fan of OOFP.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kittel.png")
          div.speaker-bio
            h2#kittel Katarzyna Kittel
            a(href="https://twitter.com/kasia_kittel").speaker-link @kasia_kittel
            p
              | In 2007 Katarzyna finished her M.Eng in Informatics.  Since that time she has been working as software engineer. Over the years, she has worked with many technologies like Python, Perl, Java but more recently she bet on Scala. She loves the Internet and new technologies, especially these that help to deliver better software. Currently she is software engineer at Equal Experts.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/chrons.png")
          div.speaker-bio
            h2#chrons Otto Chrons
            a(href="https://twitter.com/ochrons").speaker-link @ochrons
            p
              | I'm a serial entrepreneur and a long time contributor in the Scala/Scala.js ecosystems, including popular libraries like Diode and Boopickle, and the creator of the scalafiddle.io service. 
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/owczarek.png")
          div.speaker-bio
            h2#owczarek Kamil Owczarek
            a(href="https://twitter.com/owczarek_kamil").speaker-link @owczarek_kamil
            p
              | Big Data Developer / Team Leader @ IQVIA. Specializes in Big Data projects involving Data Warehousing & Machine Learning. Active member of JUG Łódź. 'Data is always more valuable than you recognize it to be'.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ossa.png")
          div.speaker-bio
            h2#ossa Jeferson David Ossa
            a(href="https://twitter.com/unyagami").speaker-link @unyagami
            p
              | I am a software engineer and FP professor living in Medellin, Colombia. I am a Scala and distributed systems enthusiast interested in FP, software architecture and infrastructure. Scuba diving wannabe.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/dorrell.png")
          div.speaker-bio
            h2#dorrell Greg Dorrell
            a(href="https://twitter.com/grogs").speaker-link @grogs
            p
              | Greg is a software developer at Expedia. Professionally he's been building backend services using Scala for 6 years. In the last few years he's been delighted by Scala.js after using it in a number of side projects.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/plachta.png")
          div.speaker-bio
            h2#plachta Michał Płachta
            a(href="https://twitter.com/miciek").speaker-link @miciek
            p
              | Polyglot software engineer specialised in developing distributed applications. Tea drinker, cyclist &  functional programming enthusiast. Loves the human component in software projects. Has a blog at michalplachta.com.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/koziarkiewicz.png")
          div.speaker-bio
            h2#koziarkiewicz Mikołaj Koziarkiewicz
            a(href="https://twitter.com/mikolak_net").speaker-link @mikolak_net
            p
              | Currently at SoftwareMill, Mikołaj is an alumni of the Vienna University of Technology's Computational Intelligence programme. As such, he feels at home to different language paradigms, and therefore enjoys the current technology boom in the JVM ecosystem. He strongly believes that taking lazy shortcuts backfires on a programmer sooner or later, and is committed to doing things 'the right way'.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kowalczykiewicz.png")
          div.speaker-bio
            h2#koziarkiewicz Michał 'Kowal' Kowalczykiewicz
            a(href="https://www.linkedin.com/in/mkowalczykiewicz/").speaker-link @mkowalczykiewicz
            p
              | Programmer, husband, afro-cuban dancer. Principal Software Engineer at Infor.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kunicki.png")
          div.speaker-bio
            h2#kunicki Jacek Kunicki
            a(href="https://twitter.com/rucek").speaker-link @rucek
            p
              | I'm a passionate software engineer living in the JVM land - mainly, but not limited to. I also tend to play with electronics and hardware. When sharing my knowlegde, I always keep in mind that a working example is worth a thousand words.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pavkin.jpg")
          div.speaker-bio
            h2#pavkin Vladimir Pavkin
            a(href="https://twitter.com/vlpavkin").speaker-link @vlpavkin
            p
              | Vladimir is a Scala developer from Riga, Latvia, who is currently building software in Evolution Gaming. Along with large event-sourced backend systems, Vladimir uses his extensive Javascript background to develop complex frontends with Scala.js.
