section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
        div.single-speaker
          div.single-speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.single-speaker-bio
            h2#goes John A. De Goes
            h3(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | John A. De Goes has been functional programming for more than seven years at multiple companies, and has assembled world-renowned Scala and PureScript engineering teams, trained new developers in Scala and PureScript, and developed several successful open source FP projects. Known for his ability to take very complex concepts and explain them simply, John has taught numerous workshops and classes, including several highly-regarded workshops on Scala and PureScript. John moonlights as an instructor for LambdaConf, but his primary job is Chief Technology Officer of SlamData, an open source software company using pure functional programming to redefine analytics for modern data.
              div.small-12.medium-8.medium-centered.large-8.large-centered.columns
