section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gurnell.png")
          div.speaker-bio
            h2 Dave Gurnell
            a(href="https://twitter.com/davegurnell").speaker-link @davegurnell
            p
              | Dave is a developer, trainer, and partner at 
              a(href="http://underscore.io") Underscore
              |. He has spent over a decade creating software using functional programming, and has authored and co-authored several books about Scala. His current projects include 
              a(href="http://github.com/underscoreio/shapeless-guide") taking short trips in his space ship 
              | and  
              a(href="http://meowsynth.com", target="_blank") creating synthesizers using cats
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/seeberger.png")
          div.speaker-bio
            h2 Heiko Seeberger
            a(href="https://twitter.com/hseeberger").speaker-link @hseeberger
            p
              | Heiko Seeberger is Fellow at codecentric and an internationally renowned expert on Scala and Akka. He has more than 20 years of experience in consulting and software development. Heiko tweets under @hseeberger and blogs under 
              a(href="http://heikoseeberger.de", target="_blank") heikoseeberger.de
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/szulc.png")
          div.speaker-bio
            h2 Paweł Szulc
            a(href="https://twitter.com/rabbitonweb").speaker-link @rabbitonweb
            p
              | Pawel Szulc is primarily a programmer. Always was and always will be. Experienced professionally in JVM ecosystem, currently having tons of fun with Scala and Haskell. Humble apprentice of Functional Programming. Runs a blog 
              a(href="http://rabbitonweb.com", target="_blank") rabbitonweb.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/leontiev.png")
          div.speaker-bio
            h2 George Leontiev
            a(href="https://twitter.com/folone", target="_blank").speaker-link @folone
            p
              | George is an engineer at SoundCloud where he's taking care of highload systems that power user feeds, notifications, and social interaction graph. In his spare time he likes exploring the world of type-level programming and does distance running.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/petronella.jpg")
          div.speaker-bio
            h2 Gabriele Petronella
            a(href="https://twitter.com/gabro27", target="_blank").speaker-link @gabro27
            p
              | Gabriele is co-founder of buildo, where he's a software engineer, working with Scala, JavaScript and Swift. He founded the Scala User Group in Milan and he's an organizer of Scala Italy, the Italian conference on Scala. He holds a MSc in Computer Engineer from Politecnico di Milano and a MSc in Computer Science from University of Illinois at Chicago, where he also worked as a Research Assistant. In the - rare - free time, you'll find him on a plane or at the basketball court.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/guzik.jpg")
          div.speaker-bio
            h2 Piotr Guzik
            a(href="https://twitter.com/guzik_io", target="_blank").speaker-link @guzik_io
            p
              | Piotr Guzik - Big Data Engineer @Allegro and Consultant @GetInData. I am using Spark Streaming, Kafka and Scala during my daily work. From time to time I am a speaker at conferences and workshops. In my free time enjoy travelling around the world with my fiancee and camera.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/sfregola.png")
          div.speaker-bio
            h2 Daniela Sfregola
            a(href="https://twitter.com/DanielaSfregola").speaker-link @DanielaSfregola
            p
              | Daniela Sfregola is a Software Consultant based in London, UK. She has worked as Java developer before moving towards Scala. She is an active contributor to the Scala Community and a passionate blogger at 
              a(href="danielasfregola.com", target="_blank") danielasfregola.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pustelnik.png")
          div.speaker-bio
            h2 Jan Pustelnik
            a(href="https://twitter.com/gosubpl", target="_blank").speaker-link @gosubpl
            p
              | Technical Architect at GFT Poland and Lecturer at the University of Łódź by day, sporadic akka project contributor by night. Interested in how software works on low level, he does not find big frameworks appealing. This is the main reason why he loves Scala, a very expressive language that allows one to build right abstractions quickly without losing control over details. Jan is an active member of JUG Łódź and occasional conference speaker. Currently he is busy with a Big Data project for one of major investment banks. In his spare time he loves to dust-off some old issue of computer science journal only to find out that everything has already been invented before he even was born.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.speaker-bio
            h2 John De Goes
            a(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | John is an author, speaker, entrepreneur, and long-time software architect and engineer. Loves startups, technology, science, software engineering, fitness, and my family. In addition to my consulting business, he's currently CTO at SlamData, a company building cool open source software for NoSQL analytics.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/renato.png")
          div.speaker-bio
            h2 Renato Cavalcanti
            a(href="http://twitter.com/renatocaval", target="_blank").speaker-link @renatocaval
            p
              | Renato Cavalcanti is an independent Scala developer based in Belgium. Scala aficionado since 2009, he has been hacking in Scala and related technologies for fun and profit. He's the founder of BeScala, co-founder of Strong[Typed]​ and author of Fun.CQRS.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gorywoda.png")
          div.speaker-bio
            h2 Maciej Gorywoda
            a(href="https://twitter.com/makingthematrix", target="_blank").speaker-link @makingthematrix
            p
              | Scala/Java/Python developer at 9LivesData, AI enthusiast, interested in practical applications of artificial neural networks and cellular automata.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kasas.png")
          div.speaker-bio
            h2 Valentin Kasas
            a(href="http://twitter.com/ValentinKasas", target="_blank").speaker-link @ValentinKasas
            p
              | After many years using Java (and loving it), I discovered Scala, at DevoxxFR in 2012. That was a blast. Since then, I became rather obsessed with that language and sought every opportunity to learn more about it, and about FP in general. I've learned what a monad is, and then I learned not to worry about what a monad is. I've learned about higher-kinded types and all sort of bizarre things that only people who knew SI-2712 by its number usually care about. Now, I thrive to share my enthusiasm about Scala with more and more people, and to make more friends by not talking too much about monads. Also, I wear suits.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/westheide.png")
          div.speaker-bio
            h2 Daniel Westheide
            a(href="https://twitter.com/kaffeecoder", target="_blank").speaker-link @kaffeecoder
            p
              | Daniel Westheide is a senior consultant at innoQ Deutschland GmbH. He is particularly interested in functional programming and distributed systems and published the blog series and e-book “The Neophyte’s Guide to Scala”.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/lattuada.png")
          div.speaker-bio
            h2 Andrea Lattuada
            a(href="https://twitter.com/utaal", target="_blank").speaker-link @utaal
            p
              | Andrea is an eclectic software engineer with a passion for programming language design and well crafted software; he co-founded a consultancy company, where he leveraged Scala to develop stable platforms that also enable rapid iteration. He has recently earned a MSc degree in Computer Science with a focus on distributed systems at ETH Zürich, Switzerland. His main research interests are distributed coordination, processing, and data management.
