section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/gurnell.png")
          div.speaker-bio
            h2#gurnell Dave Gurnell
            a(href="https://twitter.com/davegurnell").speaker-link @davegurnell
            p
              |Dave is a developer, trainer, and partner at 
              a(href="http://underscore.io") Underscore
              |. He has spent over a decade programming, speaking at conferences, and writing books on functional programming. In his spare time he enjoys 
              a(href="http://cartographer.io") making maps
              |, 
              a(href="http://underscore.io/books/scala-with-cats") playing with cats
              |, and 
              a(href="http://underscore.io/books/shapeless-guide") taking short trips in his space ship
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/szulc.png")
          div.speaker-bio
            h2#szulc Paweł Szulc
            a(href="https://twitter.com/rabbitonweb").speaker-link @rabbitonweb
            p
              | Pawel Szulc is primarily a programmer. Always was and always will be. Experienced professionally in JVM ecosystem, currently having tons of fun with Scala and Haskell. Humble apprentice of Functional Programming. Runs a blog 
              a(href="http://rabbitonweb.com", target="_blank") rabbitonweb.com
              |.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/degoes.jpg")
          div.speaker-bio
            h2#goes John De Goes
            a(href="http://degoes.net", target="_blank").speaker-link degoes.net
            p
              | John A. De Goes has been functional programming for more than seven years at multiple companies, and has assembled world-renowned Scala and PureScript engineering teams, trained new developers in Scala and PureScript, and developed several successful open source FP projects. Known for his ability to take very complex concepts and explain them simply, John has taught numerous workshops and classes, including several highly-regarded workshops on Scala and PureScript. John moonlights as an instructor for LambdaConf, but his primary job is Chief Technology Officer of SlamData, an open source software company using pure functional programming to redefine analytics for modern data.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ciesielski.jpg")
          div.speaker-bio
            h2#ciesielski Krzysztof Ciesielski
            a(href="https://twitter.com/kpciesielski").speaker-link @kpciesielski
            p
              | Software engineer, OSS contributor and conference speaker. Working on various projects for SoftwareMill using Scala since over 5 years, Krzysiek never stops exploring new avenues of reactive and functional programming. Passionate about principled design. To get some rest from software, Krzysiek enjoys reading philosophy and science fiction, as well as bouldering.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/matuszak.png")
          div.speaker-bio
            h2#szulc Marcin Matuszak
            a(href="https://twitter.com/marcinmatuszak").speaker-link @marcinmatuszak
            p
              | Marcin is an enthusiastic functional programmer from Wrocław. Working as a Data Engineer at Ryanair. His recent interest is a mix of machine learning and functional programming.
