section.sponsors.row
  div.small-12.medium-12.large-12.columns
    ul(data-orbit, data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; navigation_arrows:true; bullets:false; slide_number: false;")
      li.sponsors-slide(data-orbit-slide="slide-1")
        a(href="https://softwaremill.com/", target="_blank")
          img(src="images/sponsors/sml.png")
          small conference organizer
      li.sponsors-slide(data-orbit-slide="slide-2")
        a(href="http://scalatimes.com/", target="_blank")
          img(src="images/sponsors/scala-times.png")
          small media partner
      li.sponsors-slide(data-orbit-slide="slide-3")
        a(href="https://ch.leonteq.com", target="_blank")
          img(src="images/sponsors/leonteq.png")
          small gold sponsor
      //li.sponsors-slide(data-orbit-slide"slide-9")
      // a(href="https://justjoin.it", target="_blank")
      //    img(src="images/sponsors/just-join.png")
      //   small partner
      //li.sponsors-slide(data-orbit-slide"slide-15")
      //  a(href="https://crossweb.pl", target="_blank")
      //    img(src="images/sponsors/crossweb.png")
      //   small partner
      // li.sponsors-slide(data-orbit-slide"slide-16")
      //    a(href="https://www.meetup.com/Lublin-Java-User-Group/", target="_blank")
      //    img(src="images/sponsors/lublinjug.png")
      //    small partner
      // li.sponsors-slide(data-orbit-slide="slide-2")
      //   a(href="https://tech.zalando.com", target="_blank")
      //     img(src="images/sponsors/zalando.png")
      //     small silver sponsor
      //   a(href="https://www.codilime.com", target="_blank")
      //     img(src="images/sponsors/codilime.png")
      //     small silver sponsor
      //   a(href="http://www.lightbend.com/", target="_blank")
      //     img(src="images/sponsors/lightbend.png")
      //     small conference partner
      // li.sponsors-slide(data-orbit-slide="slide-5")
      //   a(href="http://firma.um.warszawa.pl/", target="_blank")
      //     img(src="images/sponsors/przedsiebiorcza_warszawa.png")
      //     small co-organizer

     //div.centered-wrapper
     //a.button(href="images/scalar-sponsorship-prospectus-2019.pdf", target="_blank") become a sponsor
