section.sponsors.row
  div.small-12.medium-12.large-12.columns
    ul(data-orbit, data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; navigation_arrows:true; bullets:false; slide_number: false;")
      li.sponsors-slide(data-orbit-slide="slide-1")
        a(href="https://softwaremill.com/", target="_blank")
          img(src="images/sponsors/sml.png")
          small conference organizer
        a(href="http://www.um.warszawa.pl/", target="_blank")
          img(src="images/sponsors/warsaw-mayor.png")
          small honorary patron
      li.sponsors-slide(data-orbit-slide="slide-2")
        a(href="https://tech.zalando.com", target="_blank")
          img(src="images/sponsors/zalando.png")
          small silver sponsor          
        a(href="https://scalac.io", target="_blank")
          img(src="images/sponsors/scalac.png")
          small silver sponsor          
        a(href="https://touk.pl", target="_blank")
          img(src="images/sponsors/touk.png")
          small silver sponsor          
      li.sponsors-slide(data-orbit-slide="slide-3")
        a(href="http://www.lightbend.com/", target="_blank")
          img(src="images/sponsors/lightbend.png")
          small conference partner    
        a(href="http://www.virtuslab.com/", target="_blank")
          img(src="images/sponsors/virtus-lab.png")
          small conference partner    
      li.sponsors-slide(data-orbit-slide="slide-3")
        a(href="http://firma.um.warszawa.pl/", target="_blank")
          img(src="images/sponsors/przedsiebiorcza_warszawa.png")
          small co-organizer    

    div.centered-wrapper
      a.button(href="images/scalar-sponsorship-prospectus-2017.pdf", target="_blank") become a sponsor
