+section("sponsors")
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.conference-organizer
      h2 Main Organizer
      a(href="https://softwaremill.com/", target="_blank")
        img(src='images/sponsors/sml.png')
    div.conference-organizer
      h2 Gold sponsor
      a(href="https://www.signifytechnology.com/", target="_blank")
        img(src='images/sponsors/signify.png')        
    div.conference-organizer
      h2 Silver sponsor
      a(href="https://nofluffjobs.com", target="_blank")
        img(src='images/sponsors/nofluffjobs.png')        
    div.conference-partners
      h2 Media partners
      a(href="http://scalatimes.com/", target="_blank")
        img(src="images/sponsors/scala-times.png")
    div.conference-partners
      h2 Patrons
      a(href="http://mazowsze.pti.org.pl/", target="_blank")
        img(src="images/sponsors/pti.png")        
      a(href="http://ieee.pl/?q=node/35", target="_blank")
        img(src="images/sponsors/ieee.png")
      a(href="http://www.um.warszawa.pl/", target="_blank")
        img(src="images/sponsors/warsaw-mayor.png")
    // div.conference-partners
    //   h2 Silver sponsors
    //   a(href="https://tech.zalando.com", target="_blank")
    //     img(src="images/sponsors/zalando.png")
    //   a(href="https://scalac.io", target="_blank")
    //     img(src="images/sponsors/scalac.png")
    //   a(href="https://touk.pl", target="_blank")
    //     img(src="images/sponsors/touk.png")
    //   a(href="https://www.codilime.com", target="_blank")
    //     img(src="images/sponsors/codilime.png")
    div.conference-partners
      h2 Conference Partners
      //- a(href="http://www.lightbend.com/", target="_blank")
      //-   img(src="images/sponsors/lightbend.png")
      a(href="http://www.virtuslab.com/", target="_blank")
        img(src="images/sponsors/virtus-lab.png")
    // div.conference-partners
    //   h2 Co-organizers
    //   a(href="http://firma.um.warszawa.pl/", target="_blank")
    //     img(src="images/sponsors/przedsiebiorcza_warszawa.png")
    div.community-partners
      h2 Community Partners
      a.sponsors-link(href="http://www.meetup.com/BeScala/", target="_blank")
        img(src="images/sponsors/bescala.png")
      a.sponsors-link(href="https://www.meetup.com/pl-PL/ScalaWAW/", target="_blank")
        img(src="images/sponsors/logo-scalawaw.png")
      a.sponsors-link(href="https://www.meetup.com/pl-PL/Java-User-Group-Lodz", target="_blank")
        img(src="images/sponsors/juglodz_white.png")
      a.sponsors-link(href="https://challengerocket.com/pl", target="_blank")
        img(src="images/sponsors/challenge.png")
    //   a.sponsors-link(href="https://www.meetup.com/Zurich-Scala/", target="_blank")
    //     img(src="images/sponsors/zurich-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/milano-scala-group/", target="_blank")
    //     img(src="images/sponsors/milano-scala.png")
    //   a.sponsors-link(href="http://www.meetup.com/czech-scala-enthusiasts/", target="_blank")
    //     img(src="images/sponsors/czech-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/bucharest-scala/", target="_blank")
    //     img(src="images/sponsors/bucharest-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/ScalaWAW/", target="_blank")
    //     img(src="images/sponsors/scala-waw.png")
