+section("sponsors")
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.conference-partners
      h2 Honorary Patron
      a(href="http://www.um.warszawa.pl/", target="_blank")
        img(src="images/sponsors/warsaw-mayor.png")
    div.conference-organizer
      h2 Main Organizer
      a(href="https://softwaremill.com/", target="_blank")
        img(src='images/sponsors/sml.png') 
    div.conference-partners
      h2 Conference Partners
      a(href="http://www.lightbend.com/", target="_blank")
        img(src="images/sponsors/lightbend.png")
    div.community-partners
      h2 Community Partners
      a.sponsors-link(href="http://www.meetup.com/BeScala/", target="_blank")
        img(src="images/sponsors/bescala.png")
      a.sponsors-link(href="https://www.meetup.com/Zurich-Scala/", target="_blank")
        img(src="images/sponsors/zurich-scala.png")