+section("sponsors")
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.conference-organizer
      h2 Main Organizer
      a(href="https://softwaremill.com/", target="_blank")
        img(src='images/sponsors/sml.png')
    div.conference-partners
      h2 Media partners
      a(href="http://scalatimes.com/", target="_blank")
        img(src="images/sponsors/scala-times.png")
    div.conference-partners
      h2 Partners
      a(href="https://nofluffjobs.com", target="_blank")
        img(src="images/sponsors/nofluffjobs.png")
      a(href="https://justjoin.it", target="_blank")
        img(src="images/sponsors/just-join.png")
      a(href="https://crossweb.pl", target="_blank")
        img(src="images/sponsors/crossweb.png")
      a(href="https://www.meetup.com/Lublin-Java-User-Group/", target="_blank")
        img(src="images/sponsors/lublinjug.png")
      a(href="https://www.meetup.com/pl-PL/Java-User-Group-Lodz/", target="_blank")
        img(src="images/sponsors/lodzjug.png")
      a(href="https://www.meetup.com/pl-PL/WroclawJUG/", target="_blank")
        img(src="images/sponsors/wroclawjug.png")
      a(href="https://www.sodapl.com", target="_blank")
        img(src="images/sponsors/soda.png")
      a(href="www.piotrbucki.pl", target="_blank")
        img(src="images/sponsors/pbucki.png")
    //div.conference-partners
    //h2 Silver sponsors
    //a(href="https://scalac.io", target="_blank")
      //img(src="images/sponsors/scalac.png")
    //a(href="https://touk.pl", target="_blank")
      //img(src="images/sponsors/touk.png")
    //   a(href="https://tech.zalando.com", target="_blank")
    //     img(src="images/sponsors/zalando.png")
    //   a(href="https://www.codilime.com", target="_blank")
    //     img(src="images/sponsors/codilime.png")
    //   div.conference-partners
    //   h2 Co-organizers
    //   a(href="http://firma.um.warszawa.pl/", target="_blank")
    //     img(src="images/sponsors/przedsiebiorcza_warszawa.png")
    //   a.sponsors-link(href="https://www.meetup.com/Zurich-Scala/", target="_blank")
    //     img(src="images/sponsors/zurich-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/milano-scala-group/", target="_blank")
    //     img(src="images/sponsors/milano-scala.png")
    //   a.sponsors-link(href="http://www.meetup.com/czech-scala-enthusiasts/", target="_blank")
    //     img(src="images/sponsors/czech-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/bucharest-scala/", target="_blank")
    //     img(src="images/sponsors/bucharest-scala.png")
    //   a.sponsors-link(href="https://www.meetup.com/ScalaWAW/", target="_blank")
    //     img(src="images/sponsors/scala-waw.png")
