section.sponsors.row
  div.small-12.medium-12.large-12.columns
    ul(data-orbit, data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; navigation_arrows:true; bullets:false; slide_number: false;")
      li.sponsors-slide(data-orbit-slide="slide-1")
        a(href="https://softwaremill.com/", target="_blank")
          img(src="images/sponsors/sml.png")
          small conference organizer
      li.sponsors-slide(data-orbit-slide="slide-2")
        a(href="http://scalatimes.com/", target="_blank")
          img(src="images/sponsors/scala-times.png")
          small media partner
      li.sponsors-slide(data-orbit-slide="slide-3")
        a(href="https://aceconf.com/#!/home", target="_blank")
          img(src="images/sponsors/aconference.png")
          small partner
      li.sponsors-slide(data-orbit-slide="slide-4")
        a(href="https://skillsmatter.com", target="_blank")
          img(src="images/sponsors/skillsmatter.png")
          small partner
      li.sponsors-slide(data-orbit-slide="slide-5")
        a(href="https://nofluffjobs.com", target="_blank")
          img(src="images/sponsors/nofluffjobs.png")
          small partner
      li.sponsors-slide(data-orbit-slide="slide-6")
        a(href="http://bit.ly/2Gjezwd", target="_blank")
          img(src="images/sponsors/challenge.png")
          small partner
      li.sponsors-slide(data-orbit-slide="slide-7")
        a(href="https://virtuslab.com", target="_blank")
          img(src="images/sponsors/virtus-lab.png")
          small partner
      li.sponsors-slide(data-orbit-slide="slide-8")
        a(href="https://sphere.it", target="_blank")
          img(src="images/sponsors/ss.png")
          small partner
      li.sponsors-slide(data-orbit-slide"slide-9")
        a(href="https://justjoin.it", target="_blank")
          img(src="images/sponsors/just-join.png")
          small partner
      li.sponsors-slide(data-orbit-slide"slide-10")
        a(href="https://scalac.io", target="_blank")
          img(src="images/sponsors/scalac.png")
          small silver sponsor
      li.sponsors-slide(data-orbit-slide"slide-11")
        a(href="https://touk.pl", target="_blank")
          img(src="images/sponsors/touk.png")
          small silver sponsor
      // li.sponsors-slide(data-orbit-slide="slide-2")
      //   a(href="https://tech.zalando.com", target="_blank")
      //     img(src="images/sponsors/zalando.png")
      //     small silver sponsor
      //   a(href="https://www.codilime.com", target="_blank")
      //     img(src="images/sponsors/codilime.png")
      //     small silver sponsor
      //   a(href="http://www.lightbend.com/", target="_blank")
      //     img(src="images/sponsors/lightbend.png")
      //     small conference partner
      // li.sponsors-slide(data-orbit-slide="slide-5")
      //   a(href="http://firma.um.warszawa.pl/", target="_blank")
      //     img(src="images/sponsors/przedsiebiorcza_warszawa.png")
      //     small co-organizer

    div.centered-wrapper
      a.button(href="images/scalar-sponsorship-prospectus-2019.pdf", target="_blank") become a sponsor
