section.sponsors.row
  div.small-12.medium-12.large-12.columns
    ul(data-orbit, data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; navigation_arrows:true; bullets:false; slide_number: false;")
      li.sponsors-slide(data-orbit-slide="slide-1")
        a(href="https://softwaremill.com/", target="_blank")
          img(src="images/sponsors/sml.png")
          small conference organizer
        a(href="http://www.um.warszawa.pl/", target="_blank")
          img(src="images/sponsors/warsaw-mayor.png")
          small honorary patron
      li.sponsors-slide(data-orbit-slide="slide-2")
        a(href="http://www.lightbend.com/", target="_blank")
          img(src="images/sponsors/lightbend.png")
          small conference partner    

    div.centered-wrapper
      a.button(href="images/scalar-sponsorship-prospectus-2017.pdf", target="_blank") become a sponsor