section#stats.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 2016 stats
  div.small-11.small-centered.medium-12.medium-centered.large-12.large-centered.columns.stats
    img(src="images/scalar-2016-infographics.png")