section#stats.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 2016 stats
  div.small-11.small-centered.medium-12.medium-centered.large-12.large-centered.columns.stats
    div.row.speakers
      div.small-12.medium-6.large-6.columns
        h1 How was 
          br
          | the speaker 
          br 
          | lineup?
        img(src="images/lineup.png")
        div.circle-text
          p.info-color-1 
            span.number 25.8
              span.percent %
            span.num-text Awesome
          p.info-color-2 
            span.number 57.5
              span.percent % 
            span.num-text OK
          p.info-color-3 
            span.number 15.9
              span.percent % 
            span.num-text Could be better
          p.info-color-4 
            span.number 0.8
              span.percent % 
            span.num-text I didn’t like it
      div.small-12.medium-6.large-6.columns
        h1 Comparing to
          br 
          | your expectations,  
          br
          | the talks were...
        img(src="images/expectations.png")
        div.circle-text
          p.info-color-1 
            span.number 9.1
              span.percent % 
            span.num-text Too basic
          p.info-color-2 
            span.number 78
              span.percent % 
            span.num-text Just right
          p.info-color-3 
            span.number 12.9
              span.percent % 
            span.num-text Too advanced
    div.row.quote 
      div.small-12.medium-12.large-12.columns "Thanks a lot for the conference:). More stuff like Session Types and Amira Lakhal running around:D"
    div.row.talks
      div.small-12.medium-12.large-12.columns
        h1 Top5 presentations of Scalar 2016
        div.speaker-img
          img(src="images/speakers/szulc.png")
          div.speaker-percent 50.8
            span.percent %
          p.speaker-name Pawel Szulc
          p Having a cake and eating it too. Introduction to Typeclasses.
        div.speaker-img
          img(src="images/speakers/petrashko.png")
          div.speaker-percent 45.5
            span.percent %
          p.speaker-name Dmytro Petrashko
          p Making sense of initialization order in Scala.
        div.speaker-img
          img(src="images/speakers/lakhal.jpg")
          div.speaker-percent 39.4
            span.percent %
          p.speaker-name Amira Lakhal
          p IOT, timeseries and prediction with Android, Cassandra and Spark.
        div.speaker-img
          img(src="images/speakers/doenitz.jpg")
          div.speaker-percent 34.8
            span.percent %
          p.speaker-name Mathias Doenitz
          p Swave - a fresh Reactive Streams Implementation.
        div.speaker-img
          img(src="images/speakers/pustelnik.png") 
          div.speaker-percent 32.6
            span.percent %
          p.speaker-name Jan Pustelnik
          p Cool toolz in the Scalaz and Cats toolboxes.
    div.row.quote 
      div.small-12.medium-12.large-12.columns "The conference was really great, thanks!"
    div.row.venue
      div.small-12.medium-12.large-12.columns
        h1 How was the venue?
        div.row
          div.small-12.medium-8.large-9.columns
            img(src="images/info-venue.png")
          div.small-12.medium-4.large-3.columns
            div.venue-text
              p.info-color-1 
                span.number 59.1
                  span.percent % 
                span.num-text Awesome
              p.info-color-2 
                span.number 34.1
                  span.percent % 
                span.num-text OK
              p.info-color-3 
                span.number 4.5
                  span.percent % 
                span.num-text Could be better
              p.info-color-4 
                span.number 2.3
                  span.percent % 
                span.num-text Bad. Change it
    div.row.quote 
      div.small-12.medium-12.large-12.columns "Many thanks! I'm looking forward to next Scalar."
    div.row.next-year
      div.small-12.medium-12.large-12.columns
        h1 Would you like to come to Scalar 2017?
        img(src="images/scalar-2017.png")
        div.text
          p.info-color-1 
            span.number 63.6
              span.percent % 
            span.num-text Yes, yes! Very much!
          p.info-color-2 
            span.number 24.2
              span.percent % 
            span.num-text Yes
          p.info-color-4
            span.number 12.2
              span.percent % 
            span.num-text Maybe