doctype html
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  head
    title Scalar - Scala Conference in Central Europe - 16th of April 2016, Warsaw, Poland.
    link(rel="shortcut icon", href="images/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css", media="Screen")
    meta(itemprop="name", content="Scalar")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(charset='utf-8')
    script(src="app.js")

  body#top
    include header-for-news.jade

    section.souvenirs-page.row
      header.section-title
        h1 Support

      div.small-12.medium-9.medium-centered.large-7.large-centered.columns
        p In order to support homeless animals and recieve a gratitude from us, complete the following steps:
        ol
          li Choose a souvenir you want to recieve.
          li Tranfer money to the organization (see below for more information).
            p.blue-text 
              b 40&nbsp;PLN 
              | for t-shirt or 
              b 25&nbsp;PLN 
              | for mug.
            p.blue-text Title your transfer “DAROWIZNA” and add the code of a chosen souvenir.
          li  Pick up your souvenir at the conference registration point.

      div.row.mug-row
        h2 Souvenirs
        div.small-4.medium-4.large-4.columns
          img(src='images/souvenirs/blue-mug.png')
          p 
            span.all-caps Code: 
            | Mug1
        div.small-4.medium-4.large-4.columns
          img(src='images/souvenirs/light-blue-mug.png')
          p 
            span.all-caps Code: 
            | Mug2
        div.small-4.medium-4.large-4.columns
          img(src='images/souvenirs/red-mug.png')
          p 
            span.all-caps Code: 
            | Mug3

      div.shirt-row.row
        div.small-4.medium-4.large-4.columns
          img(src="images/souvenirs/man-tshirt.png")
          p 
            span.all-caps Code: 
            | SHIRTmenS (or&nbsp;M,&nbsp;L,&nbsp;XL,&nbsp;XXL)
        div.small-4.medium-4.large-4.columns
          img(src="images/souvenirs/woman-tshirt.png")
          p 
            span.all-caps Code: 
            | SHIRTwomS (or&nbsp;M,&nbsp;L,&nbsp;XL,&nbsp;XXL)
        div.small-4.medium-4.large-4.columns
          img(src="images/souvenirs/adform-tshirt.png")
          p Available at Adform stand during the conference

      div.row.ngos
        div.small-12.medium-8.medium-centered.large-6.large-centered.columns
          h2 Organizations
          p All the groups we support are the part of Viva!, a non­governmental international organization dedicated to protect animals, raising funds for their actions on their own.

        div.row
          div.small-12.medium-4.large-4.columns
            a(href="https://www.facebook.com/DTKociaLapka/?fref=ts", target="_blank").ngo-logo
              img(src="images/souvenirs/kocia-lapka.png")
            div.ngo-info
              a(href="https://www.facebook.com/gpkmrau/?fref=ts", target="_blank")
                h3 Dom Tymczasowy Kocia Łapka
              p "Kocia Łapka" is a temporary house for homeless and wild cats from Pruszkow and suburbs of Warsaw. It is run by a small group of volunteers, whose mission is to save and heal homeless cats, and to find new homes for them. They also sterilize wild cats, take care of abandoned ones, sick or too young to survive by themselves.
            div.transfer-info.domestic
              p.blue-text.all-caps Domestic transfers:
              p Fundacja Międzynarodowy Ruch na Rzecz Zwierząt Viva!
              p ul. Kawęczyńska 16/39, 03­772 Warszawa
              p PL02 2030 0045 1110 0000 0255 7280
            div.transfer-info.international
              p.blue-text.all-caps International transfers:
              p PayPal: dtkocialapka@gmail.com

          div.small-12.medium-4.large-4.columns
            a(href="https://www.facebook.com/ZwierzakizMinska1/?fref=ts", target="_blank").ngo-logo
              img(src="images/souvenirs/zzm.png")
            div.ngo-info
              a(href="https://www.facebook.com/gpkmrau/?fref=ts", target="_blank")
                h3 Zwierzaki z Mińska
              p A group of volunteers from Minsk Mazowiecki, whose actions are focused on the area of the town. They are finding and sterilizing homeless dogs and cats, feeding them and keeping in temporary homes, to finally find them new ones where they can live happy and safe life with new owners.
            div.transfer-info.domestic
              p.blue-text.all-caps Domestic transfers:
              p Fundacja Międzynarodowy Ruch na Rzecz Zwierząt ­ Viva!
              p ul. Kawęczyńska 16/39, 03­772 Warszawa
              p PL63 2030 0045 1110 0000 0260 1190
            div.transfer-info.international
              p.blue-text.all-caps International transfers:
              p SWIFT: GOPZPLPW
              p IBAN: PL 63 2030 0045 1110 0000 0260 1190
              p or
              p PayPal: zwierzakizminska@gmail.com

          div.small-12.medium-4.large-4.columns
            a(href="https://www.facebook.com/gpkmrau/?fref=ts", target="_blank").ngo-logo
              img(src="images/souvenirs/mrau.png")
            div.ngo-info
              a(href="https://www.facebook.com/gpkmrau/?fref=ts", target="_blank")
                h3 Grupa Pomocy Kotom MRAU
              p MRAU is a group of volunteers bringing help to cats from the Warsaw shelter in the Paluch area. They are taking care of homeless cats and also those staying in temporary homes, helping them to survive in the new reality. They are healing them, socializing and searching for new, best homes for the rest of they lives.
            div.transfer-info.domestic
              p.blue-text.all-caps Domestic transfers:
              p Fundacja Międzynarodowy Ruch na Rzecz Zwierząt­Viva!
              p ul. Kawęczyńska 16/39, 03­772 Warszawa
              p PL93 2030 0045 1110 0000 0255 7970
              p Title of the transfer: “DAROWIZNA GPK Mrau”


            div.transfer-info.international
              p.blue-text.all-caps International transfers:
              p SWIFT: GOPZPLPW
              p IBAN: PL93 2030 0045 1110 0000 0255 7970
              p Title of the transfer: “DAROWIZNA GPK Mrau”

        h1.thanks Thank you!

    include organizer.jade
        
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-11235106-8', 'auto');
      ga('send', 'pageview');

    //- Twitter
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");