section#videos.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 2015 Videos
  div.small-11.small-centered.medium-11.medium-centered.large-9.large-centered.columns
    .video-wrapper
      iframe(width="100%", height="56.25%", src="https://www.youtube.com/embed/PwKX02d4N4Q?rel=0", frameborder="0", allowfullscreen)
    div.centered-wrapper
      a.button(href="https://www.youtube.com/watch?v=ex9H_pHdFZ4&list=PL8NC5lCgGs6N5_mHAx9LjOO1NBEADQ4cP", target="_blank") check all videos