+section("row")
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Attendee Instructions
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.centered-wrapper
      a.button(href="attendee-instructions.html") Check out the details