section#call-for-papers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Call for papers
    small OPEN UNTIL APRIL 26TH 2020. We'll accept speakers on a rolling basis.
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    p We are looking for anything that you think might be interesting for current and future Scala programmers. Are you using Scala in a novel way? Maybe you contribute to a Scala open-source library? Or you are using Scala in production and would like to share your experiences from the field?
    p Our main goal is to give attendees a portion of practical knowledge during the conference, update people on what's happening in the Scala ecosystem and start some interesting (online) discussions. We wish to inspire people to explore Scala and the Scala ecosystem later at home.
    p.bottom-margin-small What we offer:
    ul
      li technical help in setting up the streaming with a practice session
      li ongoing assistance during your presentation
      li moderation of questions that will pop up during and after your presentation
      li a moderated after-presentation Q&A with attendees
    div.centered-wrapper
      a.button(href="https://docs.google.com/forms/d/e/1FAIpQLSfzR1d_pqGGr-VSNNlwK_GTe4l0gG3aWdjy-14iixJaRaNUEQ/viewform") apply now