section#online.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 About Scalar ONLINE
    p Join us for the first fully online, all-day all-timezone Scala conference! 
    p 15 May 2020, at your home. 
    p As we’ve joined stayinghomeclub and Scalar 2020 has been postponed to 8-10th of October 2020, we’re taking Scalar online to meet with all of you in spring. 
    p Scalar ONLINE will be fully online, all-day all-timezone Scala conference with 45min presentations, Q&A sessions and networking opportunities. Let’s meet, learn and celebrate Functional Programming!
      div.row
    h3 SCALAR ONLINE IN SHORT:
  block about
      div.row
        div.small-12.medium-6.large-6.columns
          <b>ONLINE</b>
          p Stay up to date, learn new skills and exchange FP knowledge while staying home. 
        div.small-12.medium-6.large-6.columns
          <b>Global</b>
          p Enjoy all-day filled with presentations, Q&As and networking sessions. </br>
        div.small-12.medium-6.large-6.columns
          <b>More than 30 speakers</b>
          p Talk to world-class experts in Functional Programming. 
        div.small-12.medium-6.large-6.columns
          <b>Community</b>
          p Meet other FP enthusiasts from all over the world. 