section#online.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 About Scalar ONLINE
    p 2020 is the year of the first digital Scalar conference.<br>We are aiming to create an online experience that will let all of us meet, learn and celebrate our community.<br>Join us on the 15th of May 2020!
    p Scalar Online is a digital, all-day all-timezones Scala conference with 45min' presentations, Q&A sessions, and networking opportunities.<br>We stick to the one-track-for-all formula you all know and love.<br>Plus we use a dedicated tool that facilitates networking in smaller groups.
    p We've got a couple of experiments & surprises - the scheduled talks are just one part of the conference!
    p We're excited to go digital with you! Save your spot!
      div.row
    h3 SCALAR ONLINE IN SHORT:
      div.row.height-equalizer.section__scalar-in-short
        div.small-12.medium-6.large-6.columns
          <b>ONLINE</b>
          p An insightful digital experience: learn new skills and exchange Scala and FP knowledge while staying home.
        div.small-12.medium-6.large-6.columns
          <b>Social</b>
          p Meet and spend time with other FP enthusiasts from all over the world.
        div.small-12.medium-6.large-6.columns
          <b>Knowledge from experts</b>
          p Talk with the world-class experts in Scala.
        div.small-12.medium-6.large-6.columns
          <b>Experiments & surprises</b>
          p Let's join our forces and create an experience to meet each other, spend great time and support everyone in the community.
      div.small-12.medium-8.medium-centered.large-8.large-centered.columns
        div.centered-wrapper
          a.button(href="#register") Get a ticket