section.row
  div.centered-wrapper
    h1#register Register
    p "Buy" button doesn’t work? Try buying the tickets 
      a(href="https://app.evenea.pl/event/scalaronline2020/", class="link-underline") directly on evenea.
    include evenea-iframe.html
