section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pretty.png")
          div.speaker-bio
            h2#pretty Jon Pretty
            a(href="https://twitter.com/propensive").speaker-link @propensive
            p
              | Jon has been having fun riding the bleeding edge of Scala for nearly fifteen years, and he's not finished yet. When he's not travelling the world attending Scala conferences, or organizing Scala World, he devotes his time to a variety of open-source Scala tools and libraries, and providing professional training services to the Scala industry.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ratajski.png")
          div.speaker-bio
            h2#ratajski Jarek Ratajski
            a(href="https://twitter.com/jarek000000").speaker-link @jarek000000
            p
              | Commodore 64 programmer.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kunicki.png")
          div.speaker-bio
            h2#kunicki Jacek Kunicki
            a(href="https://twitter.com/rucek").speaker-link @rucek
            p
              | I'm a passionate software engineer living in the JVM land - mainly, but not limited to. I also tend to play with electronics and hardware. When sharing my knowlegde, I always keep in mind that a working example is worth a thousand words.
              