section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pretty.png")
          div.speaker-bio
            h2#pretty Jon Pretty
            a(href="https://twitter.com/propensive").speaker-link @propensive
            p
              | Jon has been having fun riding the bleeding edge of Scala for nearly fifteen years, and he's not finished yet. When he's not travelling the world attending Scala conferences, or organizing Scala World, he devotes his time to a variety of open-source Scala tools and libraries, and providing professional training services to the Scala industry.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ratajski.png")
          div.speaker-bio
            h2#ratajski Jarek Ratajski
            a(href="https://twitter.com/jarek000000").speaker-link @jarek000000
            p
              | Commodore 64 programmer.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kunicki.png")
          div.speaker-bio
            h2#kunicki Jacek Kunicki
            a(href="https://twitter.com/rucek").speaker-link @rucek
            p
              | I'm a passionate software engineer living in the JVM land - mainly, but not limited to. I also tend to play with electronics and hardware. When sharing my knowlegde, I always keep in mind that a working example is worth a thousand words.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/rinaudo.jpg")
          div.speaker-bio
            h2#rinaudo Nicolas Rinaudo
            a(href="https://twitter.com/nicolasrinaudo").speaker-link @NicolasRinaudo
            p
              | Scala & FP enthusiast, CTO of <a href="https://besedo.com">Besedo</a>, author and maintainer of a few mildly popular Scala OSS libraries.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/wiem.png")
          div.speaker-bio
            h2#wiem Wiem Zine El Abidine
            a(href="https://twitter.com/wiemzin").speaker-link @WiemZin
            p
              | Wiem is a Scala Backend Engineer at MOIA and she is enthusiastic about functional programming and about learning.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/fraser.jpg")
          div.speaker-bio
            h2#fraser Adam Fraser
            a(href="https://twitter.com/adamfraser").speaker-link @adamfraser
            p
              | Adam Fraser is a solutions architect at Ziverge. He is one of the top contributors to ZIO, a library for asynchronous and concurrent programming in functional Scala. Adam is the co-author of the ZIO Test and the author of ZQuery. He is a regular conference speaker, writer, and mentor to other software developers regarding functional programming.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/tiriticco.png")
          div.speaker-bio
            h2#tiriticco Fabio Tiriticco
            a(href="https://twitter.com/ticofab").speaker-link @ticofab
            p
              | Fabio is a software engineer and community leader based in Amsterdam - he runs the 2000-member strong Reactive Amsterdam meetup and the annual Kubernetes Community Days conference. When not in front of a screen, he enjoys long distance bike rides and fingerpicking his guitar.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/shevchenko.png")
          div.speaker-bio
            h2#shevchenko Ruslan Shevchenko
            a(href="https://twitter.com/rssh1").speaker-link @rssh1
            p
              | Ruslan was born in 1972. Worked as a researcher in Institue of Software Systems, then was a founder of Internet Provider NBI, founder of software development firm GradSoft, then works in various projects in telecom, advertising, and finance industry, now managing partner in a software startup. Founder of UA scala user group, has over 10 publications in peer-reviewed journals, coauthor of the book “Methods of algebraic programming”, an active columnist for the Ukrainian developer’s community portal.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/calves.jpg")
          div.speaker-bio
            h2#calves Christophe Calvès
            a(href="https://chrilves.github.io").speaker-link @chrilves
            p
              | Christophe is passionate about Computer Science, all of it, from the highest level theories about types, categories, logic, ... to the most low-level aspects of machines and programs. He is now a Data Engineer at Adikteev, applying Functional Programming techniques to Big Data.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/silnitsky.png")
          div.speaker-bio
            h2#silnitsky Natan Silnitsky
            a(href="https://twitter.com/NSilnitsky").speaker-link @NSilnitsky
            p
              | Natan Silnitsky is a backend-infra engineer @Wix.com. He is on the Data streaming team in charge of building event driven libraries and tools on top of Kafka and ZIO. Before that he was part of a task force that was responsible for building the next generation CI system at Wix on top of Google's Bazel build tool. Has many years of experience as a developer of large scale web services - First in .Net, later in Scala. Natan's passions include clean and functional code, dev velocity and great software design.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/mittal.png")
          div.speaker-bio
            h2#mittal Ayush Mittal
            a(href="https://medium.com/@ayushm4489").speaker-link @ayushm4489
            p
              | Ayush Mittal is a Technical Lead at HCL Netherlands where he practises and preaches functional programming . Currently working on building a fully digital contact center application for the largest European bank.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/vanderbij.png")
          div.speaker-bio
            h2#vanderbij Dennis van der Bij
            a(href="https://twitter.com/MrDnX").speaker-link @MrDnX
            p
              | Dennis is a software engineer at SwissBorg and fresh EPFL graduate. He's passionate about Scala since 2012 and distributed systems. At work he advocates for pure functional-programming.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/covaci.png")
          div.speaker-bio
            h2#covaci Kim Covaci
            a(href="https://github.com/evdokim").speaker-link @evdokim
            p
              | Kim has a long time passion for functional programming and Scala in particular. Working in SoundCloud he applies his skills to help artists to grow their audiences.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/warski.jpg")
          div.speaker-bio
            h2#warski Adam Warski
            a(href="https://twitter.com/adamwarski").speaker-link @adamwarski
            p
              | I am one of the co-founders of SoftwareMill, where I code mainly using Scala and other interesting technologies. I am involved in open-source projects, such as sttp, tapir, Quicklens, ElasticMQ and others. I have been a speaker at major conferences, such as JavaOne, LambdaConf, Devoxx and ScalaDays.
              | Apart from writing closed- and open-source software, in my free time I try to read the Internet on various (functional) programming-related subjects. Any ideas or insights usually end up with a <a href="https://softwaremill.com/blog">blog</a>.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/owczarek.png")
          div.speaker-bio
            h2#owczarek Kamil Owczarek
            p
              | Head of Big Data @ GFT Poland, data engineer at heart. Specializes in projects connected to stream processing and machine learning. Personal motto: "Data is always more important than you recognize it to be".
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/coll.png")
          div.speaker-bio
            h2#coll Jordan Coll
            p
              | Jordan is an Engineer at SoundCloud. He enjoys music, coffee, and copy-pasting code.
