section#speakers.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Speakers
  div.agenda-table.small-12.medium-12.large-12.columns
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/pretty.png")
          div.speaker-bio
            h2#pretty Jon Pretty
            a(href="https://twitter.com/propensive").speaker-link @propensive
            p
              | Jon has been having fun riding the bleeding edge of Scala for nearly fifteen years, and he's not finished yet. When he's not travelling the world attending Scala conferences, or organizing Scala World, he devotes his time to a variety of open-source Scala tools and libraries, and providing professional training services to the Scala industry.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/ratajski.png")
          div.speaker-bio
            h2#ratajski Jarek Ratajski
            a(href="https://twitter.com/jarek000000").speaker-link @jarek000000
            p
              | Commodore 64 programmer.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/kunicki.png")
          div.speaker-bio
            h2#kunicki Jacek Kunicki
            a(href="https://twitter.com/rucek").speaker-link @rucek
            p
              | I'm a passionate software engineer living in the JVM land - mainly, but not limited to. I also tend to play with electronics and hardware. When sharing my knowlegde, I always keep in mind that a working example is worth a thousand words.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/rinaudo.jpg")
          div.speaker-bio
            h2#rinaudo Nicolas Rinaudo
            a(href="https://twitter.com/nicolasrinaudo").speaker-link @NicolasRinaudo
            p
              | Scala & FP enthusiast, CTO of <a href="https://besedo.com">Besedo</a>, author and maintainer of a few mildly popular Scala OSS libraries.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/wiem.png")
          div.speaker-bio
            h2#wiem Wiem Zine El Abidine
            a(href="https://twitter.com/wiemzin").speaker-link @WiemZin
            p
              | Wiem is a Scala Backend Engineer at MOIA and she is enthusiastic about functional programming and about learning.
    div.row
      div.description.small-12.medium-12.large-12.columns
        div.speaker
          div.speaker-photo
            img(src="images/speakers/fraser.jpg")
          div.speaker-bio
            h2#fraser Adam Fraser
            a(href="https://twitter.com/adamfraser").speaker-link @adamfraser
            p
              | Adam Fraser is a solutions architect at Ziverge. He is one of the top contributors to ZIO, a library for asynchronous and concurrent programming in functional Scala. Adam is the co-author of the ZIO Test and the author of ZQuery. He is a regular conference speaker, writer, and mentor to other software developers regarding functional programming.
