section#call-for-papers.row
  a.to-top(data-scroll, data-speed="800", data-easing="easeInOutCubic", href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Become a sponsor
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    p As a sponsor of Scalar ONLINE, you have the chance to present your company to growing functional programming community and to make valuable contacts while staying at home and keeping everyone safe. Join Scalar and impress our attendees with your expertise.
    div.centered-wrapper
      a.button(href="images/scalar-online-offer.pdf") Get an offer