+section("sponsors")
  div.small-12.medium-8.medium-centered.large-8.large-centered.columns
    div.conference-organizer
      h2 Main Organizer
      a(href="https://softwaremill.com/", target="_blank")
        img(src='images/sponsors/sml.png')
    div.conference-partners
      h2 Media partners
      a(href="http://scalatimes.com/", target="_blank")
        img(src="images/sponsors/scala-times.png")
    div.conference-partners
      h2 Platinum sponsors
      a(href="https://ziverge.com", target="_blank")
        img(src="images/sponsors/ziverge.png")
    div.conference-partners
      h2 Gold sponsors
      a(href="https://ch.leonteq.com", target="_blank")
       img(src="images/sponsors/leonteq.png")
      a(href="https://scalac.io", target="_blank")
       img(src="images/sponsors/scalac.png")
      a(href="https://touk.pl", target="_blank")
       img(src="images/sponsors/touk.png")    
    div.conference-partners
      h2 Partners
      a(href="https://nofluffjobs.com", target="_blank")
        img(src="images/sponsors/nofluffjobs_new.png")
      a(href="https://justjoin.it", target="_blank")
        img(src="images/sponsors/just-join.png")
      a(href="https://crossweb.pl", target="_blank")
        img(src="images/sponsors/crossweb.png")
      a(href="https://www.meetup.com/Lublin-Java-User-Group/", target="_blank")
        img(src="images/sponsors/lublinjug.png")
      a(href="https://www.meetup.com/pl-PL/Java-User-Group-Lodz/", target="_blank")
        img(src="images/sponsors/lodzjug.png")
      a(href="https://www.meetup.com/pl-PL/WroclawJUG/", target="_blank")
        img(src="images/sponsors/wroclawjug.png")
      a(href="https://www.sodapl.com", target="_blank")
        img(src="images/sponsors/soda.png")
      a(href="https://challengerocket.com", target="_blank")
        img(src="images/sponsors/rocket.png")
      a(href="http://www.virtuslab.com/", target="_blank")
        img(src="images/sponsors/virtus-lab.png")
