section#workshops.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 About Scalar
    p 2020 brings a new format of Scalar. We are diving deep into practical know-how and getting our hands dirty. Join customized three-days Functional Programming tracks (8-10 October 2020)!
    p To make it easier for you, the sessions are divided into four sections. For those new to FP, for those acquainted with FP and for the advanced ones. <br>In between coding you get quite a few breaks for cooling your brain and meeting other FP enthusiasts.</br>
    p <b>note</b>: You are buying a ticket for the whole event, not for a single workshop or a group of workshops. <b>Attendees can freely switch between sessions</b> and choose their own, individual path in getting Scala knowledge.
      div.row
    h3 SCALAR IN SHORT:
      div.row
        div.small-12.medium-6.large-6.columns
          <b>7th edition</b>
          p Hands-on FP workshops rooted in the biggest Scala conference in Europe.
        div.small-12.medium-6.large-6.columns
          <b>Warsaw</b>
          p Located in one of the most vibrant cities <br>in Central Europe.</br>
        div.small-12.medium-6.large-6.columns
          <b>Workshops-driven</b>
          p Practical workshops led by world-class experts.
        div.small-12.medium-6.large-6.columns
          <b>Community</b>
          p Meeting point for FP enthusiasts filled with networking and the after-party.