@import "normalize.min.css"
@import "foundation.min.css"
@import "nib"

html
  min-height: 100%;

body
  background: linear-gradient(top, #32c1d0, #0096b2, #007299);
  font-family: 'Exo 2', 'Exo 2.0', sans-serif;
  text-shadow: 0 0 1px rgba(17, 68, 118, 0.3);

// Start fixing Foundation styles
h1
h2
h3
h4
h5
h6
  font-family: 'Exo 2', 'Exo 2.0', sans-serif;

h1
  font-size: 2.25em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;

p,
ul
  font-size: 0.875rem;
  line-height: 1.48;

.bottom-margin-small
  margin-bottom: 0.4rem;

button,
.button
  border: 2px solid white;
  color: #2184a4;
  font-family: inherit;
  font-size: 0.875rem;
  padding: .375rem 1rem;
  &:hover
    background: transparent;
    color: white;

  &.postfix
    border: 2px solid white;

button.big-button,
.button.big-button
  padding: .5rem 3.5rem;
  font-size: 1rem;
  margin: 0 1rem 1rem;

fieldset
  border: none;

.top-bar
  background: transparent;
  height: 59px;

  & .name
    height: 59px;

    & h1

      & a
        padding: 3px 0 0 1em;
        text-align: left;

        & img
          max-height: 54px;

  &.expanded
    & .title-area
      background: #2896b2;

.top-bar-section
  & ul
    background: transparent;

    & li
      &:hover>a
        background: #1e638b;
      &>a
        background: #2896b2;
        font-family: 'Exo 2', 'Exo 2.0', sans-serif;
        // font-family: sans-serif;
        padding-left: 1em;
      &.active>a
        background: #1f7397;
        &:hover
          background: #1e638b;

.orbit-timer
  opacity: 0;

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover
  background-color: rgba(255, 255, 255, 0.3);
// End fixing Foundation styles


// Mailchimp form
#mce-EMAIL
  background: transparent;
  border: 2px solid white;
  box-shadow: none;
  color: white;
  &:focus
    box-shadow: inset 0 0 5px #2ca8bf;

#mc-embedded-subscribe
  &:focus
    background: white;
    color: #2184a4;

#note
  color: #fe232b;
  margin-bottom: 1em;
  text-align: center;

 #mce-success-response
  text-align: center;
  font-size: 0.84em;
  line-height: 1.3;

#mce-error-response
  text-align: center;
  font-size: 0.84em;
  line-height: 1.3;
  color: #fc4349;

#mc-embedded-subscribe
  padding: 0.5rem;
  width: 100%;
  &:focus
    outline: none;
// End Mailchimp


// Start general styles

a:hover img,
a:focus img
  opacity: 0.85;

.name a:hover img,
.name a:focus img
  opacity: 1;

.centered-wrapper
  text-align: center;

.highlight
  color: #fc4349;

section.row
  background: url('images/anchor-left.png') center top no-repeat;
  padding: 9.125em 1em 1em;
  margin: 0 auto ;
  position: relative;
  &:nth-child(odd)
    background: url('images/anchor-right.png') center top no-repeat;

  &.header
    background-image: none;
    padding: 0;
    margin-bottom: 1em;

    & li.tweet-btn
      padding: 0 15px;
      & a
        padding: 0;

  &.hero
    background-image: none;
    padding-top: 3.125em;

    & h1
      color: #114476;
      font-size: 1.55em;
      font-weight: 600;
      text-shadow: none;

    & h2
      font-size: 1.25em;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;

    & .conference-data
      font-size: 1.25em;
      font-weight: 200;
      margin-top: 1em;

      & time,
      span
        display: block;
        margin-bottom: 0.5em;
        vertical-align: bottom;

      & time
        margin-right: 1em;

  &.sponsors
    background-image: none;
    padding-top: 1em;

    & .sponsors-slide
      text-align: center;

      & a
        display: inline-block;
        margin: 0 2em 2em;

  &.main-organizers
    text-align: center;

    & a
      display: inline-block;
      margin: 0 2em 2em;

      & small
        display: block;

    & h2
      color: #002447;
      font-size: 1.25em;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;

.header li.tweet-btn
  padding: 0 15px;

  & a
    padding: 0;
  
  & iframe
    margin-top: 0.75rem;

.to-top
  margin: .7em 5px 0 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 500ms;
  z-index: 99;

  & img
    margin-bottom: 4px;
    backface-visibility: hidden;

  &:hover
    opacity: 1;
    color: white;

.section-title
  margin-bottom: 2.875em;
  text-align: center;

  & small
    font-size: .8125em;
    text-transform: uppercase;
// End general styles

#call-for-papers
  background-image: none;
  padding-top: 6em;

#typesafe-sml
  background-image: none;
  padding-top: 3em;
  & a
    margin: 0 1em 2em;
    display: inline-block;
    text-align: center;

    & img
      max-height: 100px;

    & small
      display: block;

#newsletters-form
  background-image: none;
  padding-top: 0;

// Start news section on index page
#news a.read-more
  margin-left: .75em;

.news-post
  padding: 0 .75em;
  margin-bottom: 1em;

  & .post-header
    margin-bottom: 1em;

  & h1
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-transform: none;

  & time
    color: #114476;
    font-size: .875rem;
    font-weight: 400;

  & a
    color: #9becf4;
    &:hover
      color: #7cd9e2;

.twitter-widget
  padding: 0 0.5em;

.e-entry-content
  color: white;
// End news section on index page


// single speaker
.single-speaker
  & .single-speaker-photo img
    border: 1px solid white;
  & .single-speaker-bio
    text-transform: none;
    & .speaker-link
      display: block;
      margin-bottom: 1em;

// Start agenda section
.agenda-table
  border-bottom: 1px dotted white;
  margin-bottom: 1rem;

  & .row
    border-top: 1px dotted white;
    border-left: 1px dotted white;
    border-right: 1px dotted white;
    &:hover
      background: rgba(17, 68, 118, .3);
      transition: background 400ms;

    &.utility
      text-transform: uppercase;
      color: #002447;

      & .description
        text-align: center;

    & .time
      border-bottom: 1px dotted white;
      padding: 1em;
      text-transform: uppercase;
      text-align: center;

    & .description
      padding: 1em;

      & .talk
        margin-bottom: 1.32rem;

      & h1
        font-size: 1em;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1em;

      & h2
        font-size: 1em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;

      & p
        margin-top: 0.33rem;
        margin-bottom: 0.33rem;

      & ul
        margin-bottom: 0.33rem;
        font-size: .875rem;

      & .speaker-link
        display: block;
        margin-bottom: 1em;

      & .speaker-photo img
        border: 1px solid white;

      & a
        color: #9becf4;
        &:hover
          color: #7cd9e2;
// End agenda section


// Start venue section

#venue header p
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  & a
    color: #9becf4;
    &:hover
      color: #7cd9e2;

#venue-map
  height: 400px;

  & img
    max-width: inherit;

#entrance-photo
  position: relative;

.image-note
  background-color: #32c1d1;
  padding: 0.7em;

// End venue section


// Start sponsors section
#sponsors
  & a.become-sponsor
    margin-bottom: 2.875rem;

  & h2
    color: #002447;
    font-size: 1.25em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;

  & a
    display: inline-block;
    margin: 0 1em 2em;

    & img
      max-height: 100px;
      max-width: 150px;

    & small
      display: block;

  & .partners,
    .media-partners,
    .silver-sponsors,
    .just-sponsors,
    .party-sponsors
    margin-bottom: 1.5rem;
    text-align: center;

    & a
      margin: 0 1em 2em;

.sponsors-slide
  & small
    display: block;
// End sponsors section


// Souvenirs section
.mug-row
.shirt-row
  & .columns
    text-align: center;

  & img
    width: 100%;
    margin-bottom: 2rem;

.mug-row img
  max-width: 194px;
  margin-right: -30px;

.shirt-row img
  max-width: 323px;

// End souvenirs section


// Start bottom part
.organizer
  & p
    margin-top: 1em;

#sml-logo
  margin-bottom: 1em;

.contact-links
  margin-bottom: 10rem;

  & .columns
    padding: 0 .5em 1em;
    text-align: center;

  & img
    margin-right: 0.4em;
    vertical-align: middle;

.team-table
  margin-bottom: 4rem;
  text-align: center;

  & .team-member
    padding: 0.5rem;
    width: 13.3333%;
    display: inline-block;
    vertical-align: top;
    max-width: 65px;
    text-align: center;

  & img
    border: 1px solid white;
    margin-bottom: 0.5rem;

  & h2
    font-size: 0.75em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
// End bottom part

#register .big-button
  background: #002447;
  border-color: #002447;
  border-width: 3px;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &:hover
    background: transparent;
    color: #002447;



// NEWS PAGE
.news-posts.row
  background-image: none;
  padding-top: 1em;
  &:nth-child(odd)
    background-image: none;

  & .news-post
    margin-bottom: 5em;

    & .post-header a
      cursor: default;

    & .social>*
      vertical-align: middle;

    & .fb-like
      margin-left: 10px;
// End news page


::-webkit-input-placeholder
  color: white;
:-moz-placeholder /* Firefox 18- */
  color: white;
::-moz-placeholder /* Firefox 19+ */
  color: white;
:-ms-input-placeholder
  color: white;


// Start Hotels Page
#hotels-content
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

#map
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 35%;
  z-index:1;
  display: none;

  & img
    max-width: inherit;

.info-popup
  color: #114476;
  text-shadow: none;
  width: 250px;
  max-height: 124px;
  padding-right: 15px;
  overflow: auto;
  line-height: 1.2;

  & h6
    color: #114476;
    font-weight: bold;
    -webkit-text-stroke: 0;

    & img
      margin-right: 1px;
      vertical-align: initial;
      &:first-child
        margin-left: 6px;

  & p
    font-size: 13px;
    margin-bottom: 1em;
    text-shadow: none;

  & a
    color: #2aaac0;
    text-shadow: none;
    &:hover
      color: #2184a4;
      & h6
        color: #2184a4;

#hotels section.header
  width: 100%;
  max-width: 100%;
  height: 65px;
  position: absolute;
  z-index:3;
  top:0;
  left: 0;
  right: 0;
  background-color: rgba(125,214,224,0.8);
  box-shadow: -1px 0px 7px rgba(0, 60, 86, 0.3);

#hotels-right-section
  background-color: #199fb8;
  overflow-y: auto;
  position: absolute;
  z-index:2;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  box-shadow: -1px 0px 7px rgba(0, 60, 86, 0.3);
  padding: 87px 1em 1em;

  & a
    color: #9BECF4;
    &:hover
      color: #7cd9e2;

  & .hotel-info
    margin-bottom: 2em;

    & p
      margin-bottom: 0.5em;

    & h6
      & a
        color: #004c76;
        font-weight: bold;
        margin-right: 3px;
      & img
        margin: 0 1px;
        vertical-align: inherit;

    & b
      color: #004c76;
      font-weight: 600;
      & i
        color: white;
// End Hotels Page


// SOUVENIRS PAGE
.blue-text
  color: #114476;

ol
  padding-left: 2rem;
  margin-left: 0;

  & li
    font-size: .875rem;
    margin-bottom: 0.875rem;

  & p
    margin-bottom: 0.875rem;
    margin-top: 0.875rem;

section.souvenirs-page
  background: none;
  padding-top: 0;

section.souvenirs-page.row:nth-child(odd)
  background:none;

.souvenirs-page
  & .mug-row
    & img
      margin-right: 0;
    & p
      margin-left: -23px;

  & .mug-row
  & .shirt-row
    & img
      margin-bottom: 1rem;

    & p
      margin-bottom: 2rem;

.souvenirs-page .mug-row p
.souvenirs-page .shirt-row p
  font-weight: 300;

.all-caps
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;

.souvenirs-page h2
  color: #002447;
  font-size: 1.25em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1.5rem;

.souvenirs-page
  & .mug-row
  & .ngos
    padding-top: 2rem;

.ngos > .columns
  text-align: center;

.ngo-logo
  display: block;
  text-align: center;
  margin-bottom: 2rem
  margin-top: 2rem
  & img
    max-width: 170px;

.ngo-info
.transfer-info
  padding: 0 1rem;

  & h3
    font-size: 1.25rem;
    text-align: center;

.transfer-info
  margin-top: 1rem;
  & p
    margin: 0;

    &.blue-text
      font-size: 1rem;

.thanks
  margin: 4rem auto;


// END SOUVENIRS PAGE

#stats > .columns
  text-align: center;


.stats
  max-width: 750px;

  & > .row
    padding: 3rem 0;

    &:first-child
      padding-top: 0;

  & h1
    font-size: 1.5rem;
    margin: 0 auto 1rem;

  & p
    margin-bottom: 0.15rem;
    text-align: left;
    font-size: 1rem;

  & span.percent
    font-weight: 200;

  & span.number
    width: 45px;
    display: inline-block;
    text-align: right;
    margin-right: 0.25rem;

  & .speakers
    & .columns
      position: relative;

      &:first-child
        margin-bottom: 3rem;

    & img
      max-width: 293px;
      width: 100%;

  & .circle-text
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -74px;

  & .num-text
    position: relative;
    padding-left: 14px;

    &:before
      content: "";
      position: absolute;
      width: 10px;
      height: 11px;
      top: 5px;
      left: 0;

  & .info-color-1 .num-text:before
    background-color: #114476;

  & .info-color-2 .num-text:before
    background-color: #135788;

  & .info-color-3 .num-text:before
    background-color: #08729a;

  & .info-color-4 .num-text:before
    background-color: #32c1d0;

  & .quote
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    font-style: italic;
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.48;

    &:last-child
      border-bottom: none;

  & .talks .speaker-img
    width: 75%;
    margin-right: 1%
    margin-left: 1%;
    display: inline-block;
    position: relative;
    margin-bottom: 1.5rem
    vertical-align: top;

    & p
      text-align: center;

    & img
      opacity: 0.5;
      margin-bottom: 1rem;

    & p.speaker-name
      font-weight: 600;

  & .speaker-percent
    position: absolute;
    top: 145px;
    left: 50%;
    font-size: 2rem;
    margin-left: -46px;
    font-weight: 600;

  & .venue img
    max-width: 485px;
    width: 100%;
    margin-bottom: 1rem;

  & .next-year
    & img
      max-width: 90%;
      margin-bottom: 1rem;

    & .text
      text-align: left;
      margin-left: 5%;

div.video-wrapper
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 2em;

  & iframe
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

.typesafe
  display: block;
  text-align: center;
  & small
    display: block;


.orbit-container .orbit-slides-container img
  max-height: 100px;


.conference-organizer
.silver-sponsors
.conference-partners
.community-partners
  text-align: center;

#afterparty a
  color: #9becf4;

.after-party-img
  padding: 1rem;

.fading
  transition: opacity .5s ease-out .2s, transform .5s ease-out .2s;

.faded-down
  opacity: 0
  transform: translateY(50px);
  transition: none;

.faded-up
  opacity: 0
  transform: translateY(-50px);
  transition: none;

#bubbles
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw)
  height: calc(200vh)
  background: url('images/bubbles.png') center center repeat;
  opacity: .5;

#bubbles2
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw)
  height: calc(200vh)
  background: url('images/bubbles2.png') center center repeat;
  opacity: 1;

#scalar
  position: fixed;
  top: 0;
  left: 0;
  width: calc(200vw)
  height: calc(200vh)
  background: url('images/scalar.png') top right repeat;

#scalar2
  position: fixed;
  top: 0;
  left: 0;
  width: calc(200vw)
  height: calc(200vh)
  background: url('images/scalar2.png') top left repeat;

#light
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw)
  height: calc(100vh)
  background: url('images/top.png') center top no-repeat;
  opacity: .5;

#bottom
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw)
  height: calc(100vh)
  background: url('images/bottom.png') center bottom repeat-x;
  opacity: .25;
  
// Start Responsive styles
@media only screen and (min-width: 30em)
  .agenda-table
    & .speaker-photo
      float: left;
      width: 149px;
      margin-right: 1em;

  .team-table img
    float: left;
    width: 149px;

  #hotels-right-section
    padding: 87px 2em 2em;

  .image-note
    position: absolute;
    bottom: 0;
    right: 0;


@media only screen and (min-width: 40.063em)
  .top-bar-section ul
    margin-top: 0.7em;

    & li>a
      color: #155380;
      font-size: 1em;
      font-weight: 600;
      transition: color 250ms;

  .top-bar-section li:not(.has-form) a:not(.button)
    background: transparent;
    padding: 0 4px;
    &:hover
      background: transparent;

  section.row.hero
    padding-top: 6.125em;

    & h1
      font-size: 2.25em;

    & .conference-data
      & time,
      span
        display: inline-block;

  .agenda-table .row
    &.utility .description
      text-align: left;

    & .description
      border-left: 1px dotted #fff;
      
      & .talk
        min-height: 140px;

      & .speaker-photo
        width: 125px;

    & .time
      border-bottom: none;

  .team-table img
    width: 125px;

    & [class*="column"]+[class*="column"]:last-child
      float: left;

  #map
    display: block;

  #hotels-right-section
    left: 65%;
    padding: 87px 1em 2em;

  .stats
    & .circle-text
      top: 210px;
      margin-left: -80px;

    & .speakers .columns:first-child
      margin-bottom: 0;

    & .talks .speaker-img
      width: 18%;
      margin-bottom: 0;

      & img
        margin-bottom: 0.5rem;

      & p
        text-align: left;

    & .speaker-percent
      top: 75px;

    & .venue img
      margin-bottom: 0;

    & .venue-text
      margin-top: -11px;
      padding-left: 5px;

    & .next-year
      & .text
        margin-left: 0;

      & p
        display: inline-block;

        &:first-child
          margin-left: 4.5%;
          width: 57.5%;

        &:nth-child(2)
          width: 21.2%;

@media only screen and (min-width: 54.375em)
  .team-table .team-member
    max-width: 137px;

  .stats .speaker-percent
    top: 97px;

@media only screen and (min-width: 62.875em)
  .team-table .team-member
    max-width: 155px;

@media only screen and (min-width: 64.063em)
  .top-bar .name h1 a
    padding: 1em 0 0 1em;

    & img
      max-height: none;

  .top-bar-section ul
    margin-top: 3em;

  .team-table
    & [class*="column"]+[class*="column"]:last-child
      float: left;

  .top-bar-section li:not(.has-form) a:not(.button)
    padding: 0 12px;

  #hotels section.header
    height: 109px;

  #hotels-right-section
    padding: 130px 2em 2em;

// End Responsive styles

.news-posts .post-summary { margin-top: 10px }

.news-posts
  code
    color: #333399;

  .highlight
    background: #2C2C2C;
    margin-bottom: 16px;
    padding: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;

  .highlight .hll { background-color: #ffffcc }
  .highlight  { background: #f8f8f8 !important; }
  .highlight .c { color: #408080; font-style: italic } /* Comment */
  .highlight .err { border: 1px solid #FF0000 } /* Error */
  .highlight .k { color: #008000; font-weight: bold } /* Keyword */
  .highlight .o { color: #666666 } /* Operator */
  .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
  .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #A00000 } /* Generic.Deleted */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #FF0000 } /* Generic.Error */
  .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .highlight .gi { color: #00A000 } /* Generic.Inserted */
  .highlight .go { color: #888888 } /* Generic.Output */
  .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .highlight .gt { color: #0044DD } /* Generic.Traceback */
  .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { color: #008000 } /* Keyword.Pseudo */
  .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #B00040 } /* Keyword.Type */
  .highlight .m { color: #666666 } /* Literal.Number */
  .highlight .s { color: #BA2121 } /* Literal.String */
  .highlight .na { color: #7D9029 } /* Name.Attribute */
  .highlight .nb { color: #008000 } /* Name.Builtin */
  .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
  .highlight .no { color: #880000 } /* Name.Constant */
  .highlight .nd { color: #AA22FF } /* Name.Decorator */
  .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
  .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
  .highlight .nf { color: #0000FF } /* Name.Function */
  .highlight .nl { color: #A0A000 } /* Name.Label */
  .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
  .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
  .highlight .nv { color: #19177C } /* Name.Variable */
  .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
  .highlight .w { color: #bbbbbb } /* Text.Whitespace */
  .highlight .mb { color: #666666 } /* Literal.Number.Bin */
  .highlight .mf { color: #666666 } /* Literal.Number.Float */
  .highlight .mh { color: #666666 } /* Literal.Number.Hex */
  .highlight .mi { color: #666666 } /* Literal.Number.Integer */
  .highlight .mo { color: #666666 } /* Literal.Number.Oct */
  .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
  .highlight .sc { color: #BA2121 } /* Literal.String.Char */
  .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
  .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
  .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
  .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
  .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
  .highlight .sx { color: #008000 } /* Literal.String.Other */
  .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
  .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
  .highlight .ss { color: #19177C } /* Literal.String.Symbol */
  .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
  .highlight .vc { color: #19177C } /* Name.Variable.Class */
  .highlight .vg { color: #19177C } /* Name.Variable.Global */
  .highlight .vi { color: #19177C } /* Name.Variable.Instance */
  .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
